@font-face{font-family:'OpenSans';src:url('../fonts/opensans/OpenSans.eot?#iefix') format('embedded-opentype'),
url('../fonts/opensans/OpenSans.woff') format('woff'),
url('../fonts/opensans/OpenSans.ttf') format('truetype'),
url('../fonts/opensans/OpenSans.svg#OpenSans') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'OpenSans-Semibold';src:url('../fonts/opensans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
url('../fonts/opensans/OpenSans-Semibold.woff') format('woff'),
url('../fonts/opensans/OpenSans-Semibold.ttf') format('truetype'),
url('../fonts/opensans/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'OpenSans-Bold';src:url('../fonts/opensans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/opensans/OpenSans-Bold.woff') format('woff'),
url('../fonts/opensans/OpenSans-Bold.ttf') format('truetype'),
url('../fonts/opensans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Roboto-Regular';src:url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
url('../fonts/roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Roboto-Medium';src:url('../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
url('../fonts/roboto/Roboto-Medium.woff') format('woff'),
url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'),
url('../fonts/roboto/Roboto-Medium.svg#Roboto-Medium') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Roboto-Bold';src:url('../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'),
url('../fonts/roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'RobotoCondensed-Regular';src:url('../fonts/roboto/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/roboto/RobotoCondensed-Regular.woff') format('woff'),
url('../fonts/roboto/RobotoCondensed-Regular.ttf') format('truetype'),
url('../fonts/roboto/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'RobotoCondensed-Bold';src:url('../fonts/roboto/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/roboto/RobotoCondensed-Bold.woff') format('woff'),
url('../fonts/roboto/RobotoCondensed-Bold.ttf') format('truetype'),
url('../fonts/roboto/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Roboto-Light';src:url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/roboto/Roboto-Light.woff') format('woff'),
url('../fonts/roboto/Roboto-Light.ttf') format('truetype'),
url('../fonts/roboto/Roboto-Light.svg#Roboto-Light') format('svg');font-weight:normal;font-style:normal;}