@media screen and (min-width:1440px){.section-slider .cover{height:450px;}
.container{width:1200px;}
.col-xs-5ths{width:20%;float:left;}
}
@media screen and (max-width:1440px){.promo-slider .promo-left,
.promo-slider .promo-banners-bottom{width:630px;}
.promo-slider .promo-banners-bottom{padding:12px;}
}
@media screen and (max-width:1200px){.wsmenu-list > li > a{font-size:13px;}
.promo-slider .promo-banners{display:none;}
.sticky-header .header-search{width:auto;}
.product-sortings .filter_title span{display:none;}
.promo-slider .promo-left,
.promo-slider .promo-banners-bottom{width:680px;}
.promo-slider .promo-banners-bottom{padding:0px;}
}
@media screen and (max-width:990px){.wsmenu-list > li > a{font-size:13px;padding:15px 10px;}
.head-topbar .top-bar-place,
.head-topbar .top-bar-newletter,
#user_support, #user_login{padding:5px;}
#user_support li{padding:0px 5px;}
.wsmenu-list > li.red-cate:hover .wsmenu-submenu{display:block;opacity:1;visibility:visible;}
.wsmenu-list > li.red-cate .wsmenu-submenu{display:none;opacity:0;visibility:visible;}
.wsmenu-submenu{min-width:210px;}
.mega-sub-menu{width:565px;}
.promo-slider{float:none;}
.promo-slider .promo-left,
.promo-slider .promo-banners-bottom{width:100%;}
.sticky-header .header-search{margin-left:5px;}
.info-page{margin-bottom:12px;padding:10px;border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea;background-color:#ffffff;}
.colum-one{background:#f4f4f4;padding:65px 0 10%;}
.topbar-support{padding:6px;}
.head-topbar .topbar-newletter{padding:6px 10px;}
.head-topbar .topbar-place{padding-right:10px;}
}
@media screen and (max-width:800px){}
@media screen and (min-width:768px){.tab-menu-content{width:50%;float:left;}
}
@media screen and (max-width:768px){.wsmenu-list li:last-child a{border-right:0px;}
.wsmenu-list > li.active > a,
.wsmenu-list > li:hover a{border:0px;border-bottom:1px solid #c9c6c6;}
.line{display:none;}
.wsmenu-list{width:100%;}
.wsmenu-list li.red-cate{width:auto;}
.wsmenu-list > li.red-cate a{padding-right:0;color:#fff;}
.red-cate{display:none !important;}
.nav-pro{display:block;}
.header-main{text-align:center;z-index:10;padding-bottom:6px;border-bottom:1px solid #f1f1f1;background:#fff;position:fixed;top:0px;left:0px;width:100%;}
.logo img{height:30px;}
.logo h1{margin:0;}
.header-main .col-sm-4{padding:0px;}
.cart-move{position:absolute;top:0px;right:0px;padding:0px;z-index:10;}
.header-cart{margin:0px;}
.header-cart .dropdown-cart{position:fixed;top:43px;right:0;width:100%;margin:0;}
.dropdown-cart .minicart_actions> a.btn-buy-now{min-width:120px;width:auto;}
.dropdown-cart .minicart_item .btn-close{display:block;}
.header-wsmenu{height:auto;background:none;margin:0;}
.promo-slider .promo-banners{position:static;margin-left:0px;width:auto;display:block;}
.promo-slider .promo-banners{margin-top:10px;}
.promo-slider .promo-banners .col-xs-6{margin-top:5px;}
.header-cart i{font-size:19px;}
.header-loginbox{display:block;}
.header_search_filter{display:none;}
.header-search{margin:0px;border:0px;}
.header_search_form{float:none;width:100%;position:relative;}
.search-mode .header_search_form{width:calc(100% - 55px);}
.header_search_form{margin:5px 0 0;border:1px solid #EFEFEF;border-radius:4px;background:#f3f3f3;height:31px;}
.header-search .btn-submit{height:31px;background:none;line-height:32px;}
.header-search .btn-submit:before{color:#555;}
.header-search .fomr_field{line-height:29px;background-color:#f3f3f3;}
.head-topbar{display:none;}
.header-main .col-sm-6{width:100%;}
.header-main .col-sm-4{float:none;width:auto;}
.sticky-header{display:none !important;}
.tab-menu .viewall{display:none;}
.in-product-info h1{font-family:'Roboto-Medium';font-size:22px;margin:10px 0 20px;}
.animated-mobile{display:block;}
.sidebarmb{width:100%;right:-100%;height:100%;position:fixed;top:0;margin:0;background-color:#fff;border-radius:0px;z-index:103;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;border:none !important;background-color:#fff !important;}
.mobileforfilter .sidebarmb{right:0px;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.mobilefornav .animated-mobile span:before{transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);-webkit-transform:rotate(45deg);bottom:0px;top:0px;}
.mobilefornav .animated-mobile span:after{transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);bottom:0px;}
.mobilefornav .animated-mobile span{background-color:transparent;}
.section-slider{padding-top:10px;}
.pmain{padding:85px 0 30px;}
.sidebar{margin-bottom:0;}
.sidebar-box-content{display:none;}
.sidebar-navleft .sidebar-title{margin-bottom:0;}
.sidebar-title,
.sidebar-navleft .sidebar-box{border-bottom:1px solid #e5e5e5;font-family:'RobotoCondensed-Regular';font-size:14px;color:#5f5f5f;}
.sidebar-navleft .sidebar-box{border-bottom:0;}
.sidebar-title:after{content:"\f078";font-family:"FontAwesome";position:absolute;right:20px;top:10px;font-size:16px;color:#909090;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);transform:rotate(0deg);transition-duration:0.3s;}
.sidebar-title.collasped:after{-webkit-transform:rotate(-180deg);-moz-transform:rotate(-180deg);transform:rotate(-180deg);transition-duration:0.3s;}
.sidebar-box.active .sidebar-title,
.sidebar-title.active-main{background:none;color:#5f5f5f;}
.sidebar-navleft .active .sidebar-title:before{color:#ed1c24;}
#back-top{bottom:27%;right:10px;}
.progress-steps li a,.progress-steps li span{display:none;}
.progress-steps{margin-bottom:20px;}
.colum-one .content-cart .box,
.content-cart .table{margin-bottom:0;}
.content-cart .content-cart-left ,
.content-cart .content-cart-sidebar{margin-left:0;float:none;width:auto;}
.content-cart .mTitle{margin-bottom:0px;}
.content-cart .box_header{border-bottom:1px solid #eeeeee;}
.table--checkout> thead> tr> th.items0count{display:block;}
.table--checkout> tbody> tr{position:relative;display:block;padding:10px 0 10px 70px;border-bottom:1px solid #eeeeee;}
.table--checkout> thead> tr> th{display:none;padding:8px 10px;border:1px solid #eeeeee;}
.table--checkout> tbody> tr> td{display:block;padding:0 10px;border-top:0;}
.table--checkout> tbody> tr> td.unit label{color:#ed1c24;}
.table--checkout> tbody> tr> td.action{position:absolute;padding:0;right:10px;top:10px;}
.table--checkout> tbody> tr> td.image{position:absolute;top:4px;left:0;padding:10px 10px;width:60px;}
.table--checkout> tbody> tr> td.name{padding-right:50px;}
.table--checkout> tbody> tr> td.discount,
.table--checkout> tbody> tr> td.total{display:none;}
.content-cart-sidebar .btn, .page-checkout .box__footer .btn,
.btn-buy-now-mini{float:none !important;display:block;width:100%;}
.in-more-content iframe,
.in-more-content object,
.in-more-content embed{max-width:100% !important;height:350px;}
.rates-box button{display:block;margin:0 auto;}
}
@media screen and (max-width:767px){.footer-vc{margin-bottom:30px;}
.footer-info .name-heading.clk-btn{cursor:pointer;}
.header-loginbox{display:inline-block;}
}
@media screen and (max-width:600px){.wow{visibility:visible !important;-webkit-animation:none !important;-moz-animation:none !important;-o-animation:none !important
-ms-animation:none !important;animation:none !important;}
.header-wsmenu{padding:0;position:relative;z-index:119;}
.promo-slider .promo-banners-bottom{min-height:auto;}
.product-short-info{display:block;}
.product-short-info .product_cell,
.product-short-info .product_cell:last-child{width:100%;border-right:0px;border-bottom:1px solid #e4e4e4;padding:10px 0;}
.product-short-info .product_cell:last-child{border-bottom:0px;}
.list-product .row{margin:0 -5px;}
.list-product .col-xs-6{padding:0 5px;}
.product-details .add-to-cart-buttons{text-align:center;margin-bottom:30px;}
.product-details .btn-buy-now{margin-bottom:15px;width:100%;}
.product-details .btn-add-to-cart{margin-bottom:15px;width:100%;}
.in-more .nav-tabs>li{float:none;margin-bottom:2px;}
.in-more .nav-tabs li a{text-align:left;padding:10px 15px;margin:0;}
.in-more .nav-tabs li.active a, .in-more .nav-tabs li a:hover{border-right:0px;}
.product__purchases, .product__availability{width:100%;border:0px;padding:0;margin:0 0 10px;}
.instock-where .instock-col{width:100%;border:0px;padding:0;margin:0 0 10px;}
}
@media screen and (max-width:480px){.nav-tabs>li>a{padding:5px 7px;font-size:14px;}
.tab-menu li.name a{font-size:14px;padding:6px 20px 6px 35px;}
.view-all{margin:10px 0 40px;}
.footer-copyright .ico-bocongthuong{float:none;margin-top:10px;}
.pd-price,
.pd-price.pd-price-old{font-size:14px;}
.pd-views{font-size:12px;}
.pd-price .price_discount{width:35px;margin-left:0px;padding-left:7px;font-size:11px;}
.footer-info .name-heading{padding-top:10px;}
.clk-content{display:none;}
.footer-nav li{padding:5px 7px;color:#666;font-size:14px;line-height:24px;text-decoration:none;}
.clk-footer .name-heading:after{position:absolute;right:10px;color:#9a9a9a;content:"\f107";font-family:FontAwesome;font-size:22px;cursor:pointer;}
.clk-footer .name-heading.open:after{transform:rotate(180deg);}
.footer-vc{margin-bottom:10px;}
.tab-menu .nav-tabs li a{padding:9px 8px 7px;}
.in-products-detail .container{padding:0;}
.breadcrumb{margin:15px;}
.in-more .mTitle{background:#fff;padding:15px;margin-bottom:10px;}
.in-more-content iframe,
.in-more-content object,
.in-more-content embed{max-width:100% !important;height:210px;}
.box_body_carts{padding:20px 0;}
.table--listing thead{display:none;}
.table--listing tbody tr td,
.table--listing tr,
.table--listing tr th{display:block;border:0px;padding:5px 10px;}
.table--listing tbody tr{border-bottom:1px solid #ddd;}
}
@media screen and (max-width:380px){.product-short-info .add-to-cart__actions .btn-buy-now{width:100%;margin:0 0 10px;}
.commentlist li.sub_comment{margin-left:20px;width:calc(100% - 20px);width:-webkit-calc(100% - 20px);}
.commentlist li.end_sub_comment{padding-left:20px;margin-left:0px;width:100%;}
}
@media screen and (max-width:320px){.nav-tabs>li>a{padding:5px;font-size:12px;}
}
@media screen and (max-width:300px){.m-nav ul.m-category-list li{width:95%;}
}
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none){.list-product h3 a{height:43px;display:block;}
}