figure.image.align-center{display:table;margin-left:auto;margin-right:auto}figure.image{margin:0 2px 0 1px;background:#f5f2f0}figure.image img{margin:8px 8px 0}figure.image figcaption{margin:6px 8px;text-align:center}