@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=vietnamese');
.nfont{font-family:'Open Sans',sans-serif}
.trans{-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
.trans2{transition:all .2s ease-out 0;-webkit-transition:all .2s ease-out 0;-o-transition:all .2s ease-out 0}
body{text-align:left;position:relative;color:#222;font-family:'Open Sans',sans-serif;font-size:13px;margin:0;padding:0;font-weight:400}
@media (min-width: 1230px) {
.container{width:1200px}
}
img{max-width:100%}
a{color:#777;text-decoration:none;outline:none;box-shadow:none}
a:hover,a:active,a:focus{color:#e34444;text-decoration:none;outline:none}
.form-control{height:30px;border:1px solid #eaeaea!important;background:#fff;border-radius:0;outline:0;box-shadow:none;font-size:13px;color:#333;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s;padding:0 10px}
.form-control:focus,.form-control:active{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)}
@media (max-width: 1024px) {
select.form-control{padding-left:10px;padding-right:10px}
}
select.form-control option{padding-left:5px;padding-right:5px}
select option{padding:3px 10px}
textarea.form-control{height:auto;resize:vertical;min-height:38px;line-height:normal}
legend{border:none;padding:0;font-size:18px;font-weight:600;color:#222;margin-bottom:10px}
ul,li{list-style:none}
h1,h2,h3,h4,h5,h6{color:#111;margin-top:0;margin-bottom:20px}
h1{font-size:25px}
h2{font-size:20px}
h3{font-size:18px}
h4{font-size:16px}
@media (max-width: 767px) {
a[href^="tel"]{color:inherit}
}
.owl-wrapper,.owl-item{-ms-backface-visibility:inherit!important}
.shop-grid-controls select::-ms-expand{display:none}
.description{display:none}
@media (max-width: 767px) {
.product-search input[name="search"]{margin-bottom:5px}
}
.error-page{text-align:center}
.error-page img{margin-top:30px}
.error-page img,.error-page p{margin-bottom:30px}
.error-page{text-align:center}
.error-page .number-error{font-size:200px;font-weight:700;color:#e34444}
.error-page .number-error i{font-size:200px}
@media (max-width: 500px) {
.error-page .number-error{font-size:100px;font-weight:700;color:#e34444}
.error-page .number-error i{font-size:100px}
}
.tp-bannertimer{z-index:0!important}
.modal-open .modal{z-index:999999}
.panel-default{border-radius:0}
.panel-default .panel-heading,.panel-default .panel-body{border-radius:0}
.input-group-btn:last-child > .btn{z-index:111}
.text_search_title{margin-top:20px}
.well{background:#FFF;padding:40px;border:1px solid #d2d2d2;margin:0 0 30px;border-radius:0;box-shadow:none;outline:none}
.well h2{padding:10px 10px 10px 0;border-bottom:1px solid #ddd;position:relative;text-transform:uppercase;font-size:16px;margin-bottom:20px;font-weight:600;color:#222}
.well h2:after{width:70px;height:1px;content:" ";background:#222;left:0;bottom:-1px;position:absolute}
.well p strong{font-weight:400}
.forgotpw{display:inline-block;margin-top:10px}
.required a{color:#333}
.required a:hover{color:#e34444}
.required input[type=checkbox]{margin-left:-30px}
#quickcheckout .block-title{margin-top:0;margin-bottom:20px}
#quickcheckout .qc-quantity .qc-product-qantity{width:60px;border-color:#e5e5e5}
#quickcheckout .qc-quantity .qc-product-qantity:focus,#quickcheckout .qc-quantity .qc-product-qantity:hover,#quickcheckout .qc-quantity .qc-product-qantity:active{border-color:#e5e5e5}
#quickcheckout .qc-quantity .btn-defaut{z-index:111}
#quickcheckout .qc-quantity .decrease{margin-right:-2px}
.price2{font-weight:600;font-size:15px}
.price2 .price-new{font-size:15px;color:#333;margin:0 0 10px;font-weight:600}
.price2 .price-old{font-size:13px;color:#888;text-decoration:line-through;line-height:20px}
.product-table .price2 span{display:block}
.price-cart{font-weight:600}
.w120{min-width:160px}
div.required .control-label:before{content:'* ';color:red;font-weight:700}
.agr{margin-bottom:10px}
.agr input[type=checkbox]{vertical-align:top;margin-left:5px}
.form-group{margin-bottom:20px}
.form-horizontal .control-label{padding-top:6px}
.ptop{padding-top:2px}
.ptop input[type=checkbox],.ptop input[type=radio]{margin-top:2px}
.product-search .ptop{padding-top:6px}
.product-search .ptop input[type=checkbox],.product-search .ptop .ptop input[type=radio]{margin-top:3px}
.form-horizontal .noptop{padding-top:5px}
.input-group .input-group-addon{font-size:12px;height:30px}
.mtop{margin-top:15px}
.mtop input[type=checkbox],.mtop input[type=radio]{margin-top:4px}
.fa-stack,.fa-star{color:#c3c3c3;width:13px;font-size:12px}
.owl-wrapper-outer{border:none;box-shadow:none}
.owl-carousel{background:#fff}
.owl-wrapper,.owl-item{-ms-backface-visibility:inherit!important}
label{font-weight:400}
.modal-body ul,.modal-body li,.information-information #content ul,.information-information #content li{list-style:disc outside none;padding:inherit}
.list-unstyled li{padding-bottom:10px}
.display_number_c{width:75px}
.clear{clear:both}
.title-box{font-size:0;padding-top:8px;padding-bottom:20px}
.breadcrumb{font-size:12px;background-color:transparent;padding:0;margin:0}
.breadcrumb li{position:relative}
.breadcrumb li a{display:inline-block;padding:0;color:#333;font-size:13px;line-height:20px;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
.breadcrumb li a:hover{color:#e34444}
.breadcrumb li:first-child{text-align:center;padding-left:0;cursor:pointer}
.breadcrumb li:first-child a{vertical-align:top;color:transparent;font-size:0}
.breadcrumb li:first-child a:before{vertical-align:top;content:"\f015";display:inline-block;font:normal normal normal 14px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:12px;line-height:20px;color:#666}
.breadcrumb li + li{margin-left:14px}
.breadcrumb li + li:before{content:"/ ";padding:0;color:#666;position:absolute;left:-10px;top:3px}
.breadcrumb li:last-child{pointer-events:none}
.breadcrumb li:last-child a{color:#333;pointer-events:none}
.title-style,.page-title{display:none}
.heading-information{margin-top:10px;margin-bottom:50px;position:relative}
.heading-information:after{content:"";position:absolute;display:block;height:5px;width:68px;background:#1fc0a0;bottom:-20px;left:0}
.header-box{background:url(/images/bg_header.jpg);position:relative;}/* margin-bottom:7px */
@media (min-width: 768px) {
.common-home .header-box{position:absolute;background:transparent;top:0;left:0;width:100%;z-index:100}
}
#top{height:40px;background-color:transparent;border-bottom:1px solid rgba(255,255,255,0.2);position:relative;z-index:1007;color:#FFF}
#top .top-left{float:left;display:inline-block;padding:0;line-height:20px}
#top .top-left p{margin:0}
#top .top-left > div,#top .top-left .position-display{float:left;position:relative}
#top .top-left > div + div,#top .top-left .position-display + div,#top .top-left > div + .position-display,#top .top-left .position-display + .position-display{padding-left:30px}
#top .top-left > div + div:before,#top .top-left .position-display + div:before,#top .top-left > div + .position-display:before,#top .top-left .position-display + .position-display:before{position:absolute;content:"";background:#363636;width:1px;height:12px;top:14px;left:15px;background:rgba(255,255,255,0.2)}
#top .top-right{float:right;padding:0;line-height:39px;font-size:12px}
#top .top-right > div{float:left;position:relative;line-height:39px;padding:0 15px;border-right:1px solid rgba(255,255,255,0.2)}
#top .top-right > div:first-child{border-left:1px solid rgba(255,255,255,0.2)}
#top .top-right > div:hover{background:rgba(0,0,0,0.1)}
#top .top-right a{color:#FFF;line-height:20px;font-size:12px;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
#top .top-right a > i{margin-right:5px}
@media (max-width: 767px) {
#top .top-right a > i{margin-right:0}
}
#top .dropdown-menu{min-width:120px;padding:0;margin:0;border-radius:0;background:#FFF;box-shadow:none;display:block;opacity:0;visibility:hidden;margin-top:15px;border:1px solid #eaeaea;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
#top .dropdown-menu:after{content:'';position:absolute;border-style:solid;border-width:0 8px 8px;border-color:#FFF transparent;display:block;width:0;z-index:1;top:-8px;left:39px}
#top .dropdown-menu li a{white-space:nowrap;color:#666;font-size:12px;line-height:30px;display:block;width:100%;padding:0 0 0 10px;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
#top .dropdown-menu li a:hover{border-color:#ccc;background:#ccc}
#top .dropdown-menu li a img{vertical-align:middle;display:inline;margin-right:3px;margin-top:-2px;position:relative}
#top .dropdown-menu li.active > a{border-color:#ccc!important;background:#ccc!important}
#top .open .dropdown-menu{opacity:1;visibility:visible;margin-top:0}
@media (max-width: 480px) {
#top .top-right > div > a > span{display:none}
}
.hotline .list{padding:0;margin:0;overflow:hidden}
.hotline .list .item-content{float:left;margin-right:43px;position:relative;letter-spacing:.2px}
.hotline .list .item-content:after{content:"|";color:#555;position:absolute;right:-22px;top:-1px;text-rendering:optimizeLegibility!important;-webkit-font-smoothing:antialiased!important}
.hotline .list .item-content:last-child{margin-right:0}
.hotline .list .item-content:last-child:after{display:none}
.hotline .list .item-content > div{display:inline-block}
.hotline .list .item-content .item-image{color:#eee;margin-right:4px}
#language .btn-group{vertical-align:top;line-height:20px}
#language .btn{border:1px solid #e5e5e5;padding:0;height:auto;margin:0;line-height:39px;background-color:transparent;text-transform:none;border:0;color:#FFF;font-size:12px;font-weight:400}
#language .btn > img{position:relative;top:-1px;margin-right:5px}
#language .btn i{color:#FFF;font-size:12px;margin-left:7px;cursor:pointer}
#language .btn:hover,#language .btn:active,#language .btn:focus{text-decoration:none}
#language:hover .dropdown-menu,#language .open .dropdown-menu{margin-top:0;visibility:visible;opacity:1}
.account > a i.fa-caret-down{display:inline-block!important;color:#fff;font-size:10px;margin-left:3px;cursor:pointer}
.account:hover .dropdown-menu{opacity:1!important;visibility:visible!important}
.logo-menu{background-color:transparent;padding:30px 0 20px}
.logo-menu .col-xs-12:last-child{text-align:right}
.logo-menu .col-xs-12:last-child > .dv-item-module{display:inline-block;vertical-align:middle}
@media (max-width: 991px) and (min-width: 768px) {
.logo-menu .col-xs-12:first-child{width:25%}
.logo-menu .col-xs-12:last-child{width:75%;padding-top:7px}
.logo-menu .col-xs-12:last-child > .dv-item-module:first-child{float:left}
}
@media (max-width: 767px) {
.logo-menu{padding-top:20px;padding-bottom:20px}
.logo-menu .col-xs-12:last-child > .dv-item-module:first-child{float:left}
}
#logo{margin:0;line-height:0}
#logo a{display:inline-block;background:transparent;box-shadow:none!important;outline:0!important;border:0!important;line-height:0!important;width:auto;height:auto;margin:0;padding:0}
@media (max-width: 767px) {
#logo{text-align:center;margin-bottom:20px}
}
#main-menu{background-color:transparent}
#main-menu .position-display{float:left;position:relative;width:100%}
@media (max-width: 767px) {
/* #main-menu{margin-bottom:10px} */
}
@media (min-width: 992px) {
.menu_horizontal .menu{padding:0;margin:0;text-align:left}
.menu_horizontal .menu > li{float:left;position:relative;padding-left:15px;padding-right:15px}
.menu_horizontal .menu > li > a{padding:15px 0;text-decoration:none;display:inline-block;line-height:21px;color:#FFF;text-transform:uppercase;font-size:14px;font-weight:700;cursor:pointer;transition:all .2s ease-out 0;-webkit-transition:all .2s ease-out 0;-o-transition:all .2s ease-out 0}
.menu_horizontal .menu > li > a span{line-height:21px;position:relative;display:inline-block}
.menu_horizontal .menu > li > a span:before{position:absolute;bottom:50%;left:0;width:100%;height:2px;background:#fff;content:'';opacity:0;visibility:hidden;transition:all .2s ease-out 0;-webkit-transition:all .2s ease-out 0;-o-transition:all .2s ease-out 0}
.menu_horizontal .menu > li > a.active span:before,.menu_horizontal .menu > li > a:hover span:before{bottom:-3px;opacity:1;visibility:visible}
.menu_horizontal .menu > li > ul{position:absolute;right:15px}
.menu_horizontal .menu > li ul{margin:0;padding:0;border:0;min-width:225px;border:1px solid #eaeaea;border-radius:0;background:#FFF;z-index:3000}
.menu_horizontal .menu > li ul:before{content:'';position:absolute;border-style:solid;border-width:0 8px 8px;border-color:#FFF transparent;display:block;width:0;z-index:1;top:-8px;right:20px}
.menu_horizontal .menu > li ul li{position:relative;padding:0}
.menu_horizontal .menu > li ul li:last-child{border:0}
.menu_horizontal .menu > li ul li a{display:block;font-size:12px;font-weight:inherit;margin-bottom:0;white-space:nowrap;padding:0 15px;line-height:32px;color:#666;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
.menu_horizontal .menu > li ul li ul{border:0;padding:0}
.menu_horizontal .menu > li ul li ul:before{display:none}
.menu_horizontal .menu > li ul li ul .expander{top:4px}
.menu_horizontal .menu > li ul li ul li a{padding-left:25px}
.menu_horizontal .menu > li ul li ul li ul li a{padding-left:35px}
.menu_horizontal .menu > li ul li:hover > a,.menu_horizontal .menu > li ul li.active > a{background:#eaeaea}
.menu_horizontal .menu > li ul li.hchild a{padding-right:35px}
.menu_horizontal .menu > li ul li.hchild .expander{position:absolute;right:0;width:35px;height:32px;top:0;text-align:center;line-height:32px}
.menu_horizontal .menu > li ul li.hchild .expander:after{top:50%;font-size:14px;content:'\f178';display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center;line-height:32px;color:#cdcdcd;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
.menu_horizontal .menu > li ul li.hchild:hover:after{color:#e34444}
.menu_horizontal .menu > li:first-child{padding-left:0}
.menu_horizontal .menu > li.hchild{font-size:0}
.menu_horizontal .menu > li.hchild > a{padding-right:0}
.menu_horizontal .menu > li.hchild:hover > ul{opacity:1;visibility:visible}
}
@media (min-width: 992px) and (max-width: 1199px) {
.menu_horizontal .menu > li{padding-left:8px;padding-right:8px}
}
@media (min-width: 992px) and (min-width: 1025px) {
.menu_horizontal .menu > li ul{position:absolute;margin-top:30px;opacity:0;visibility:hidden;padding:5px 0 15px;transition:all .2s ease-out 0;-webkit-transition:all .2s ease-out 0;-o-transition:all .2s ease-out 0}
.menu_horizontal .menu > li ul li ul{padding-top:5px;padding-bottom:5px;left:100%;top:-6px;border:1px solid #eaeaea;transition:all .2s ease-out 0;-webkit-transition:all .2s ease-out 0;-o-transition:all .2s ease-out 0}
}
@media (min-width: 992px) and (max-width: 1024px) {
.menu_horizontal .menu > li ul li ul{width:100%;min-width:auto}
}
@media (min-width: 992px) and (min-width: 1025px) {
.menu_horizontal .menu li.hchild:hover > ul{opacity:1;visibility:visible;margin-top:0}
}
@media (min-width: 992px) and (max-width: 1024px) {
.menu_horizontal .menu > li.hchild > .expander{width:20px;padding:0 5px;height:51px;text-align:center;right:0;top:0;cursor:pointer;font:normal normal normal 14px/1 FontAwesome;color:#FFF}
.menu_horizontal .menu > li.hchild > .expander:before{content:"\f107";line-height:51px}
}
@media (max-width: 991px) {
.menu_horizontal{z-index:9999;width:100%}
.menu_horizontal .navbar-header{float:none}
.menu_horizontal .navbar-header .navbar-toggle{display:block;position:relative;float:left;padding:0 0 10px;margin:11px 0 0;background-color:transparent;background-image:none;border:0;border-radius:0}
.menu_horizontal .navbar-header .navbar-toggle .icon-bar{background-color:#FFF;display:block;width:22px;height:3px;border-radius:1px}
.menu_horizontal .navbar-header .navbar-toggle .icon-bar + .icon-bar{margin-top:4px}
.menu_horizontal .menu-content{background:#FFF;z-index:9999;padding:0;position:absolute;left:15px}
.menu_horizontal .menu{z-index:9999;background:#FFF;padding:0;margin:0;text-align:left;width:auto}
.menu_horizontal .menu > li{float:none;display:block;overflow:hidden;border-bottom:1px solid #d9d9d9;position:relative}
.menu_horizontal .menu > li a{padding:12px 20px 11px;display:block;font-weight:400;color:#999}
.menu_horizontal .menu > li ul{position:inherit;min-width:inherit;border:0;width:100%;padding:0}
.menu_horizontal .menu > li ul li{border-top:1px solid #d9d9d9;position:relative;clear:both}
.menu_horizontal .menu > li ul li a{padding-left:30px}
.menu_horizontal .menu > li ul li ul{margin:0;position:relative;left:0;top:0}
.menu_horizontal .menu > li ul li ul li a{padding-left:40px}
.menu_horizontal .menu > li ul li ul li ul li a{padding-left:50px}
.menu_horizontal .menu > li ul li.dropdown a{padding-right:30px}
.menu_horizontal .menu > li .expander{border-left:1px solid #d9d9d9;height:43px;line-height:43px;width:43px;top:0;position:absolute;right:0;text-align:center}
.menu_horizontal .menu > li .expander:after{content:"\f107";font-family:FontAwesome}
.menu_horizontal .menu .active > a{background-color:rgba(0,0,0,0.05)!important;color:#333}
.menu_horizontal .menu > li.dropdown .caret{height:43px;line-height:43px;width:43px;text-align:center;border:0;position:absolute;right:0;border-left:1px solid #d9d9d9;top:0}
.menu_horizontal .menu > li.dropdown .caret:before{content:"\f107";font-family:FontAwesome;font-size:13px;color:#b9b9b9}
.menu_horizontal .menu > .open a{background:inherit;white-space:normal}
.menu_horizontal .menu > .open .caret:before{content:"\f106"!important}
.menu_horizontal.show .mask-container{opacity:1;visibility:visible}
.menu_horizontal.show .menu-content{opacity:1;visibility:visible}
}
@media (max-width: 991px) and (min-width: 768px) {
.menu_horizontal .menu-content{width:calc(100% - 95px)}
}
@media (max-width: 767px) {
.menu_horizontal .menu-content{width:calc(100% - 30px)}
}
#search_box{margin-left:35px}
#search_box > i{color:#FFF;display:inline-block;position:relative;z-index:1;text-align:center;font-size:12px;margin:0;cursor:pointer}
#search_box #search{display:none;position:absolute;top:100%;right:15px;top:0;width:100%;z-index:1}
#search_box #search .input-lg{width:100%;background:transparent;border:0;border-radius:0;font-size:13px;color:#333;margin:0;display:inline-block;height:50px;padding-right:90px;background:#fff}
#search_box #search .input-lg::-webkit-input-placeholder{color:#999;line-height:50px}
#search_box #search .input-lg:-ms-input-placeholder{color:#999;line-height:50px}
#search_box #search .input-lg:focus::-webkit-input-placeholder{font-style:inherit!important}
#search_box #search .input-lg:focus:-moz-placeholder{font-style:inherit!important}
#search_box #search .input-lg:focus::-moz-placeholder{font-style:inherit!important}
#search_box #search .input-lg:focus:-ms-input-placeholder{font-style:inherit!important}
#search_box #search .button_search{position:absolute;right:0;top:0}
#search_box #search .btn-lg{padding:0 35px;height:50px;background:none!important;border:none;font-size:12px;font-weight:700;text-transform:uppercase;z-index:123}
#search_box #search .btn-lg i{color:#666;font-size:18px}
#search_box #search .btn-lg:before{position:absolute;content:"";background:#eaeaea;width:1px;height:33px;top:9px;left:0}
#search_box #search .btn-lg:hover i{color:#e34444}
@media (min-width: 1025px) {
#search_box:hover #search{display:block;z-index:700}
}
#search_box.opened #search{display:block;z-index:700}
@media (max-width: 767px) {
#search_box #search{right:0}
}
#cart{width:auto;cursor:pointer;float:right;padding-left:10px;margin-left:10px;position:relative}
#cart:before{position:absolute;content:"";background:rgba(255,255,255,0.2);width:1px;height:12px;top:13px;left:0}
#cart > .btn{border-radius:0;padding:0;margin:0;height:auto;background-color:transparent;border:0;color:#FFF;float:right;text-shadow:none;text-align:center;height:36px;line-height:21px;cursor:pointer;position:relative;z-index:99}
#cart > .btn .num_product{background-color:#FFF;color:#333;position:absolute;min-width:19px;height:19px;line-height:19px;top:-5px;left:10px;text-align:center;font-size:12px;font-weight:400;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%}
#cart > .btn .fa-shopping-cart{font-size:12px;padding-right:19px}
#cart > .btn .price,#cart > .btn .text-cart{display:none}
#cart > .btn:active,#cart > .btn:focus,#cart > .btn:hover{background:transparent;box-shadow:none;outline:none}
#cart > ul.dropdown-menu{text-align:left;left:auto;right:0;background:#FFF;width:420px;color:#222;opacity:0;visibility:hidden;margin-top:15px;display:block;border-radius:0;font-size:12px;padding:10px;-webkit-transition:ease all .1s;-o-transition:ease all .1s;transition:ease all .1s}
#cart > ul.dropdown-menu:before{content:'';position:absolute;border-style:solid;border-width:0 8px 8px;border-color:#FFF transparent;display:block;width:0;z-index:1;top:-8px;right:20px}
#cart > ul.dropdown-menu .empty{height:75px;padding-top:30px;text-align:center;margin:0}
#cart > ul.dropdown-menu .cart-item{color:#555;background:transparent}
#cart > ul.dropdown-menu .cart-item .image,#cart > ul.dropdown-menu .cart-item .name,#cart > ul.dropdown-menu .cart-item .quantity,#cart > ul.dropdown-menu .cart-item .total,#cart > ul.dropdown-menu .cart-item .remove{padding:12px 10px 12px 0;line-height:18px}
#cart > ul.dropdown-menu .cart-item .image img{min-width:75px;max-width:75px}
#cart > ul.dropdown-menu .cart-item .name a{color:#555;font-size:13px;font-weight:500}
#cart > ul.dropdown-menu .cart-item .name a:hover{color:#e34444}
#cart > ul.dropdown-menu .cart-item .quantity{min-width:35px}
#cart > ul.dropdown-menu .cart-item .total{line-height:20px;color:#333;min-width:130px;font-size:14px;font-weight:700}
#cart > ul.dropdown-menu .cart-item .remove{padding-right:0;font-weight:400}
#cart > ul.dropdown-menu .cart-item .remove .btn{background:transparent;border:0;height:auto;padding:0;color:#555;line-height:1}
#cart > ul.dropdown-menu .cart-item .remove .btn:hover{opacity:.7}
@media (max-width: 767px) {
#cart > ul.dropdown-menu .cart-item .remove{padding-right:10px}
}
#cart > ul.dropdown-menu .tbl-total{margin-bottom:7px}
#cart > ul.dropdown-menu .tbl-total td{padding:0 4px 5px;color:#333;font-size:14px}
#cart > ul.dropdown-menu .tbl-total td strong{font-weight:400}
#cart > ul.dropdown-menu .tbl-total td.text-right{font-weight:700}
#cart > ul.dropdown-menu .tbl-total td.text-right strong{color:#555}
#cart > ul.dropdown-menu .btn-cart{border-top:1px solid #eaeaea;padding-top:15px;clear:both;overflow:hidden;margin-bottom:0}
#cart > ul.dropdown-menu .btn-cart i{display:none}
#cart > ul.dropdown-menu .btn-cart > a{background:#FFF;font-size:12px;color:#666;height:35px;padding:0 17px;line-height:35px;display:inline-block;border:0;width:45%;text-align:center;text-transform:uppercase;font-weight:700;border:1px solid #eaeaea;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
#cart > ul.dropdown-menu .btn-cart > a strong{font-weight:700}
#cart > ul.dropdown-menu .btn-cart > a:hover{background:#e34444;color:#FFF;border-color:#e34444}
#cart > ul.dropdown-menu .btn-cart .vcart{float:left}
#cart > ul.dropdown-menu .btn-cart .cout{float:right}
#cart > ul.dropdown-menu table{border:0;margin-bottom:15px}
#cart > ul.dropdown-menu table *{background-color:transparent;border:0}
@media (max-width: 430px) {
#cart > ul.dropdown-menu{width:320px}
#cart > ul.dropdown-menu .cart-item .image{padding-left:5px;min-width:70px}
#cart > ul.dropdown-menu .cart-item .remove{padding-right:5px}
}
@media (max-width: 350px) {
#cart > ul.dropdown-menu{width:285px}
}
@media (max-width: 300px) {
#cart > ul.dropdown-menu{margin-right:-15px}
}
#cart.open > .dropdown-menu,#cart:hover > .dropdown-menu{opacity:1;visibility:visible;margin-top:0;z-index:1111111}
@media (max-width: 767px) {
#cart .nbd{border:0}
}
#policy-box .policy-box{background:#FFF;margin:-50px 0 45px;padding:30px 0;z-index:99;border:1px solid #eaeaea;position:relative;overflow:hidden}
#policy-box .policy .content_inner .list{padding:0;margin:0;margin-left:-15px;margin-right:-15px}
#policy-box .policy .content_inner .list .item-content{width:25%;float:left;overflow:hidden;padding-right:15px;padding-left:15px;border-right:1px solid #eaeaea;text-align:center}
#policy-box .policy .content_inner .list .item-content > div{padding-left:15px}
#policy-box .policy .content_inner .list .item-content:last-child{border:0}
#policy-box .policy .content_inner .list .item-content .item-image i{font-size:40px;color:#000;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
#policy-box .policy .content_inner .list .item-content .item-title{padding:0;position:relative;margin-top:20px;margin-bottom:6px}
#policy-box .policy .content_inner .list .item-content .item-title h3{padding:0;margin:0;text-transform:uppercase;font-size:14px;font-weight:700;color:#333}
#policy-box .policy .content_inner .list .item-content .item-title .title-child{font-size:12px;color:#666;margin:0 0 3px}
#policy-box .policy .content_inner .list .item-content .item-description{margin:0;font-size:12px;color:#666;margin:0 0 3px 0}
@media (min-width: 768px) and (max-width: 991px) {
#policy-box .policy-box{margin-top:30px;padding:30px 0 0}
#policy-box .policy .content_inner .list .item-content{width:50%;margin-bottom:30px}
}
@media (max-width: 767px) {
#policy-box .policy-box{margin-top:30px}
#policy-box .policy .content_inner .list .item-content{width:100%;margin-bottom:20px}
#policy-box .policy .content_inner .list .item-content:last-child{margin-bottom:0}
}
.banner-box{margin-bottom:30px}
.banner-box .promo-text{display:none}
.banner-box .banner-item a{position:relative;overflow:hidden;display:block}
.banner-box .banner-item a:before{content:'';position:absolute;top:0;bottom:0;right:0;left:0;-webkit-transition:all .6s ease-in-out;-moz-transition:all .6s ease-in-out;-ms-transition:all .6s ease-in-out;-o-transition:all .6s ease-in-out;transition:all .6s ease-in-out}
.banner-box .banner-item a:after{content:'';position:absolute;top:0;bottom:0;right:0;left:0;-webkit-transition:all .6s ease-in-out;-moz-transition:all .6s ease-in-out;-ms-transition:all .6s ease-in-out;-o-transition:all .6s ease-in-out;transition:all .6s ease-in-out}
.banner-box .banner-item a:hover:before{right:50%;left:50%;background:rgba(255,255,255,0.2)}
.banner-box .banner-item a:hover:after{top:50%;bottom:50%;background:rgba(255,255,255,0.2)}
.tparrows{width:60px!important;height:60px!important;line-height:60px!important;border-radius:50%!important;text-align:center!important;border:0!important;background:rgba(255,255,255,0.1)!important;top:50%!important;z-index:50!important;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
.tparrows:before{color:#FFF!important;font-weight:700;margin:0!important;line-height:60px;font-size:20px!important}
.tparrows:hover{background:transparent!important;background:#e34444!important;border:0!important}
@media (max-width: 767px) {
.tparrows{width:40px!important;height:40px!important;line-height:40px!important}
.tparrows:before{line-height:40px!important}
}
.tp-bullets.simplebullets .bullet{width:14px!important;height:14px!important;border:2px solid #FFF!important;background:transparent!important;border-radius:0;margin:0 5px!important}
@media (min-width: 768px) {
.tp-bullets.simplebullets .bullet{margin-bottom:50px!important}
}
.tp-bullets.simplebullets .bullet:hover,.tp-bullets.simplebullets .bullet.selected{width:14px!important;height:14px!important;border:0!important;background:#FFF!important;border-radius:0}
.tp-bullets.hidebullets{opacity:1!important}
#product_home{margin-bottom:60px}
@media (max-width: 767px) {
#product_home{margin-bottom:30px}
}
.product-home{padding-top:25px}
.product-home .product_module .title{margin-bottom:24px;display:inline-block;position:relative;text-transform:uppercase;font-weight:700;font-size:20px;margin-top:0}
.product-home .product_module .title:before{background:#333 none repeat scroll 0 0;content:"";display:block;height:2px;left:0;margin-top:2px;opacity:1;position:absolute;top:100%;transition:all .2s ease-out 0;width:100%}
.product-home .product_module .title:after{border-color:#333 rgba(0,0,0,0) rgba(0,0,0,0);border-style:solid;border-width:7px 6px 0;content:"";display:block;height:0;left:50%;margin:2px -8px 0;opacity:1;position:absolute;top:100%;transform:rotate(0deg)!important;transition:all .2s ease-out 0;width:0}
.product-home .product_module_content{padding:20px 18px;border:1px solid #eaeaea}
.product-home.list_product .product-thumb{padding:0 0 0 1px;border:0}
.product-home .product-thumb{max-width:100%}
.product-home .product-thumb .image{width:80px;margin-right:10px;border:1px solid #eaeaea;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
.product-home .product-thumb .image:hover{border-color:#e34444}
.product-home .product-thumb .caption{margin-top:5px}
.product-home .product-thumb .caption h4 a{color:#666}
.product-home .product-thumb .caption .price{font-size:15px;color:#333;font-weight:700}
.product-home .product-thumb .caption .price .price-new{font-size:15px;color:#333;font-weight:700}
.product-home .medium:last-child .product-thumb{margin-bottom:0}
@media (max-width: 1199px) and (min-width: 768px) {
.product-home .col-xs-12{width:50%}
.product-home .col-xs-12:nth-child(n+3){margin-top:30px}
}
@media (max-width: 767px) {
.product-home .col-xs-12{width:100%}
.product-home .col-xs-12 + .col-xs-12{margin-top:30px}
}
@media (max-width: 480px) {
.pd-content .product-grid{width:100%}
.pd-content .product-grid .image{text-align:center}
.pd-content .product-grid .image img{display:inline-block}
}
.product-thumb{vertical-align:top;font-size:14px;margin-bottom:20px;text-align:center;position:relative;max-width:270px;margin-left:auto;margin-right:auto}
.product-thumb .image{position:relative;margin-bottom:12px;border:1px solid #eaeaea;overflow:hidden}
.product-thumb .image .status-sale{position:absolute;top:5px;right:5px;height:15px;width:50px;color:#fff;z-index:1;text-align:center;text-transform:uppercase;font-size:10px;line-height:15px;background:#e14141;overflow:hidden}
.product-thumb .image img{margin:0 auto}
.product-thumb .caption{text-align:center}
.product-thumb .caption h4{font-size:14px;line-height:20px;text-transform:capitalize;margin:0 0 5px}
.product-thumb .caption h4 a{color:#333;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
.product-thumb .caption h4 a:hover{color:#e34444}
.product-thumb .caption .rating{margin-bottom:5px;display:none}
.product-thumb .caption .rating i{width:10px;font-size:14px;color:#e5e5e5}
.product-thumb .caption .rating i.active{color:#d6a916}
.product-thumb .caption .price{font-size:15px;color:#222;margin:0;line-height:40px;font-weight:700;display:block}
.product-thumb .caption .price .price-new{line-height:20px;display:block}
.product-thumb .caption .price .price-old{font-size:13px;color:#888;font-weight:400;text-decoration:line-through;line-height:20px;display:block}
.product-thumb .button-group{transform:translateX(0px);display:table;transform:translateX(-100%);transition:all .5s ease .1s;width:100%;position:absolute;left:0;bottom:0;border-top:1px solid #eaeaea}
.product-thumb .button-group .btng-inner{display:table-row}
.product-thumb .button-group button{display:table-cell;width:100%;background:#FFF;line-height:35px;border-radius:0;text-align:center;color:#666;white-space:nowrap;position:relative;font-weight:600;-webkit-transition:all .3s ease-out;transition:all .3s ease-out;border:0;padding:0;}
.product-thumb .button-group button:nth-child(3){border-right:0}
.product-thumb .button-group button i{text-align:center;font-size:12px}
.product-thumb .button-group button span{display:none}
.product-thumb .button-group button:hover{color:#e34444}
.product-thumb:hover .button-group{transform:translateX(0px)}
@media (max-width: 1024px) {
.product-thumb .button-group{transform:translateX(0px)}
}
.product-list .product-thumb{overflow:auto;max-width:100%}
.product-list .product-thumb .product-inner{border:0;padding:0}
.product-list .product-thumb .image{width:30%;float:left;margin-bottom:0;overflow:hidden}
.product-list .product-thumb .image img{width:100%}
.product-list .product-thumb .caption{width:70%;float:left;text-align:left;padding-left:20px}
.product-list .product-thumb .caption .description{display:inherit;line-height:21px;color:#595959;display:block;font-size:14px;font-family:'Arial',sans-serif;margin-bottom:10px}
.product-list .product-thumb .caption .price{padding-top:10px;margin-bottom:15px;width:100%;font-size:16px;font-weight:600;color:#222;line-height:normal}
.product-list .product-thumb .caption .price .price-new{line-height:normal}
.product-list .product-thumb .caption .price .price-old{font-size:14px;color:#777;line-height:normal}
.product-list .product-thumb .caption .bcart{width:auto;display:inline-block;padding:10px 20px;vertical-align:middle;font-weight:600}
.product-list .product-thumb .caption .button-group{display:inline-block;vertical-align:top}
.product-list .product-thumb .caption .button-group button{display:inline-block;background:#fff;width:38px;height:38px;line-height:36px;text-align:center;font-size:16px;color:#222;border:1px solid #e5e5e5;margin-left:3px;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
.product-list .product-thumb .caption .button-group button i{display:inherit}
.product-list .product-thumb .caption .button-group button span{display:none}
.product-list .product-thumb .caption .button-group button + button{margin-left:6px}
.product-list .product-thumb .caption .button-group button:hover{border:1px solid #000;color:#222}
.product-sidebar{margin-bottom:30px;padding:0 20px;border:1px solid #eaeaea}
.product-sidebar h3{margin:0 0 20px;font-size:15px;color:#333;font-weight:700;text-transform:uppercase;padding:16.5px 0;border-bottom:1px solid #eaeaea}
.list_product{position:relative}
.list_product .product-layout-custom{margin-left:0;margin-right:0}
.list_product .medium:last-child .product-thumb{border:0}
.list_product .product-thumb{padding:0 0 15px;margin-bottom:15px;text-align:left;width:100%;border:none;border-bottom:1px solid #f0f0f2;overflow:hidden}
.list_product .product-thumb .product-inner{padding:0;border:0}
.list_product .product-thumb .image{float:left;padding:0;margin:0;width:85px;transition:all .2s ease-out 0;-webkit-transition:all .2s ease-out 0;-o-transition:all .2s ease-out 0}
.list_product .product-thumb .image:hover{border-color:#e34444}
.list_product .product-thumb .status-sale{display:none}
.list_product .product-thumb .caption{margin-left:95px;padding:0;text-align:left}
.list_product .product-thumb .caption h4{line-height:1.4;margin:0 0 3px;font-size:13px}
.list_product .product-thumb .price{line-height:20px}
.list_product .product-thumb .rating{display:none}
.list_product .product-thumb .bcart,.list_product .product-thumb .button-group{display:none}
.list_product .product-thumb:hover{box-shadow:none!important}
.show-in-tab-mod{margin-top:18px;margin-bottom:60px}
.show-in-tab-mod .show-in-tab .nav-tabs{margin:0;padding:0;border:0;list-style:none!important;width:100%;overflow:hidden;position:relative}
@media (min-width: 768px) {
.show-in-tab-mod .show-in-tab .nav-tabs:before{background:#eaeaea none repeat scroll 0 0;content:"";display:block;height:1px;left:0;position:absolute;top:12px;width:100%;z-index:-1}
}
.show-in-tab-mod .show-in-tab .nav-tabs > li{cursor:pointer;padding:0 22px;margin:0;position:relative;background:#FFF}
.show-in-tab-mod .show-in-tab .nav-tabs > li:before{position:absolute;right:-1px;top:6px;height:15px;width:1px;content:"";display:inline-block;background:#eaeaea;z-index:2}
.show-in-tab-mod .show-in-tab .nav-tabs > li:first-child{padding-left:0}
.show-in-tab-mod .show-in-tab .nav-tabs > li:last-child:before{display:none}
.show-in-tab-mod .show-in-tab .nav-tabs > li > a{padding:0;font-size:20px;margin-bottom:24px;text-transform:uppercase;font-weight:400;color:#333;position:relative;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
@media (min-width: 768px) {
.show-in-tab-mod .show-in-tab .nav-tabs > li > a:before{background:#333 none repeat scroll 0 0;content:"";display:block;height:2px;left:0;margin-top:10px;opacity:0;position:absolute;top:100%;transition:all .2s ease-out 0;width:100%}
.show-in-tab-mod .show-in-tab .nav-tabs > li > a:after{border-color:#333 rgba(0,0,0,0) rgba(0,0,0,0);border-style:solid;border-width:7px 6px 0;content:"";display:block;height:0;left:50%;margin:10px -8px 0;opacity:0;position:absolute;top:100%;transform:rotate(0deg)!important;transition:all .2s ease-out 0;width:0}
.show-in-tab-mod .show-in-tab .nav-tabs > li > a:hover:after,.show-in-tab-mod .show-in-tab .nav-tabs > li > a:hover:before{opacity:1;margin-top:0}
}
.show-in-tab-mod .show-in-tab .nav-tabs > li.active > a:after,.show-in-tab-mod .show-in-tab .nav-tabs > li.active > a:before{opacity:1;margin-top:0}
.show-in-tab-mod .tab-pane{margin-left:-15px;margin-right:-15px}
.show-in-tab-mod .owl-carousel{margin:0}
.show-in-tab-mod .owl-carousel .owl-controls .owl-buttons > div{width:35px;height:35px;line-height:35px;text-align:center;background:#eee;color:#666;opacity:1;margin-top:-17.5px;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
.show-in-tab-mod .owl-carousel .owl-controls .owl-buttons > div i{font-size:24px;margin:0;text-shadow:none;outline:0;line-height:35px;font-weight:700}
.show-in-tab-mod .owl-carousel .owl-controls .owl-buttons > div:hover{background:#e34444;color:#FFF}
.show-in-tab-mod .owl-carousel .owl-controls .owl-buttons > .owl-prev{left:0}
.show-in-tab-mod .owl-carousel .owl-controls .owl-buttons > .owl-next{right:0}
.show-in-tab-mod .owl-item{padding-left:15px;padding-right:15px}
.show-in-tab-mod .tab-pane{margin-left:-10px;margin-right:-10px}
.show-in-tab-mod .tab-pane .noname:not(.owl-carousel) .product-layout-tab{padding-left:10px;padding-right:10px}
.show-in-tab-mod .tab-links{margin-top:10px;text-align:center}
.show-in-tab-mod .tab-links a{display:inline-block;font-size:12px;color:#666;border:1px solid #eaeaea;font-weight:700;text-transform:uppercase;padding:11px 73px 9px;transition:all .3s ease-out 0;cursor:pointer}
.show-in-tab-mod .tab-links a:hover{background:#e34444;border:1px solid #e34444;color:#fff}
.show-in-tab-mod .tab-pane{margin-left:-10px;margin-right:-10px}
@media (min-width: 480px) and (max-width: 767px) {
.show-in-tab-mod .tab-pane .noname:not(.owl-carousel) .product-layout-tab{width:50%}
.show-in-tab-mod .tab-pane .noname:not(.owl-carousel) .product-layout-tab:nth-child(2n + 3){clear:left}
}
@media (min-width: 768px) and (max-width: 991px) {
.show-in-tab-mod .tab-pane .noname:not(.owl-carousel) .product-layout-tab{width:33.3333333332%}
.show-in-tab-mod .tab-pane .noname:not(.owl-carousel) .product-layout-tab:nth-child(3n + 4){clear:left}
}
@media (min-width: 992px) and (max-width: 1199px) {
.show-in-tab-mod .tab-pane .noname:not(.owl-carousel) .product-layout-tab{width:25%}
.show-in-tab-mod .tab-pane .noname:not(.owl-carousel) .product-layout-tab:nth-child(4n + 5){clear:left}
}
@media (min-width: 1200px) {
.show-in-tab-mod .tab-pane .noname:not(.owl-carousel) .product-layout-tab{width:20%}
.show-in-tab-mod .tab-pane .noname:not(.owl-carousel) .product-layout-tab:nth-child(5n + 6){clear:left}
}
@media (max-width: 767px) {
.show-in-tab-mod .show-in-tab .nav-tabs{margin-bottom:10px}
.show-in-tab-mod .show-in-tab .nav-tabs:before{display:none}
.show-in-tab-mod .show-in-tab .nav-tabs > li{width:100%;padding:0;float:none}
.show-in-tab-mod .show-in-tab .nav-tabs > li > a{display:inline-block;font-size:15px;padding-bottom:5px;margin-bottom:5px;border:1px solid transparent}
.show-in-tab-mod .show-in-tab .nav-tabs > li.active > a{border-bottom:1px solid #333}
}
.banner-home .col-xs-12:last-child .dv-item-module:last-child .banner_main{margin-left:-15px;margin-right:-15px}
.banner-home .col-xs-12:last-child .dv-item-module:last-child .banner_main .banner-item{width:50%;float:left;padding-left:15px;padding-right:15px}
@media (max-width: 991px) {
.banner-home{display:none}
}
.partner_box{padding-top:20px;margin-top:50px;border-top:1px solid #eaeaea;margin-bottom:20px}
.partner_box .owl-carousel{background-color:transparent;margin:0}
.partner_box .owl-carousel:hover .owl-buttons div{opacity:1}
.partner_box .owl-buttons div{margin-top:-15px}
.partner_box .owl-buttons div i{font-size:14px;text-align:center;line-height:28px;height:30px;width:30px;border:1px solid #eaeaea;background:#fff;color:#ccc;text-shadow:none}
.partner_box .owl-buttons div i:hover{border-color:#e34444;background:#e34444;color:#FFF}
.partner_box .owl-buttons .owl-prev{left:0}
.partner_box .owl-buttons .owl-next{right:0}
.partner_box .brand-item{margin-bottom:30px}
.partner_box .brand-item img{margin-left:auto;margin-right:auto;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
.partner_box .brand-item img:hover{background:#F5F5F5}
.common-home .partner_box{margin-top:30px}
.menu_category{border:1px solid #eaeaea;padding:14px 15px 13px 19px;margin-bottom:30px}
.menu_category .navbar-header{float:none}
.menu_category .navbar-header h3{text-transform:uppercase;position:relative;color:#333;padding:0;margin:0 0 10px;font-weight:700;font-size:15px}
.menu_category .navbar-collapse{padding:0}
.menu_category .nav{float:none}
.menu_category .nav li{display:block;padding:7px 0;position:relative}
.menu_category .nav li > a{display:block;line-height:18px;font-size:13px;padding:0;color:#666;font-weight:500;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
.menu_category .nav li > a.active{color:#e34444}
.menu_category .nav li > a:hover,.menu_category .nav li > a:active,.menu_category .nav li > a:focus{color:#e34444;background-color:transparent}
.menu_category .nav li .icon_menu{position:absolute;right:0;top:5px;padding:5px;cursor:pointer;display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:10px;font-weight:400;color:#666}
.menu_category .nav li .icon_menu:before{content:"\f067"}
.menu_category .nav li ul{padding:0;margin:0}
.menu_category .nav li ul li a{padding-left:10px;font-size:13px}
.menu_category .nav li ul li ul li a{padding-left:20px;font-size:13px}
.menu_category .nav li ul li ul li ul li a{padding-left:30px}
.menu_category .nav li.open > a{background:#FFF}
.menu_category .nav li.open > .icon_menu:before{content:"\f068"}
.page-selector{padding:0 0 10px;border-bottom:1px solid #f0f0f0;line-height:28px;margin-bottom:20px;width:100%;font-size:12px}
.page-selector .shop-grid-controls{margin-right:200px}
.page-selector .shop-grid-controls .entry{line-height:30px;float:left;margin-right:16px;min-height:30px}
.page-selector .shop-grid-controls .entry button{border:1px solid #e5e5e5;border-radius:0;outline:none;box-shadow:none;display:inline-block;height:30px;width:30px;vertical-align:bottom;cursor:pointer;background:#FFF;color:#888;font-size:14px;line-height:28px}
.page-selector .shop-grid-controls .entry #grid-view{margin-right:10px}
.page-selector .shop-grid-controls .entry #list-view{background-position:center bottom 11px!important}
.page-selector .shop-grid-controls .entry button:hover,.page-selector .shop-grid-controls .entry button.active{border-color:#e34444;background-color:#e34444;color:#FFF}
.page-selector .shop-grid-controls .entry:last-child{border-right:none}
.page-selector .shop-grid-controls .simple-drop-down{float:left;margin-right:10px;position:relative}
.page-selector .shop-grid-controls .simple-drop-down:after{width:30px;height:30px;position:absolute;top:0;right:0;border:1px #ebebeb solid;content:"\f107";font-family:FontAwesome;font-size:12px;color:#7c7c7c;text-align:center;cursor:pointer;pointer-events:none;line-height:30px;background:#fff}
.page-selector .shop-grid-controls .inline-text{float:left;line-height:30px;margin-right:10px}
.page-selector .shop-grid-controls select{height:30px;line-height:29px;border:1px #ebebeb solid;padding:0 40px 0 10px;white-space:nowrap;text-overflow:ellipsis;-moz-appearance:none;-webkit-appearance:none;appearance:none;width:100%;cursor:pointer;font-size:12px;font-weight:400;color:#7c7c7c}
.page-selector .shop-grid-controls select:active,.page-selector .shop-grid-controls select:focus{outline:none}
@media (max-width: 1024px) {
.page-selector .shop-grid-controls{margin-right:0;width:100%}
}
.page-selector .pages-box{float:right;font-size:12px;line-height:30px}
.page-selector .pages-box a{color:#555;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
.page-selector .pages-box a:hover{color:#e34444}
.lineep{border-top:1px solid #ececec;margin-top:5px;padding-top:12px}
.pagination{margin:0 0 15px}
.pagination li{display:block;float:left}
.pagination li span,.pagination li a{font-size:13px;width:24px;height:24px;line-height:24px;border:0;padding:0;text-align:center;background:#FFF;color:#666;font-weight:500;border-radius:0!important;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
.pagination li span:hover,.pagination li a:hover{background-color:transparent;color:#e34444}
.pagination > .active span,.pagination > .active span:focus,.pagination > .active span:hover,.pagination > .active > a:focus,.pagination > .active > a:hover > a{background-color:#FFF;color:#e34444}
@media (max-width: 767px) {
.pagination{margin:0 0 5px}
}
.results{margin-top:0;line-height:24px;font-size:12px;color:#666}
.single-image-add{position:relative;display:block;overflow:hidden;background:#000}
.single-image-add img{border-radius:0;border:none;padding:0;-webkit-transition:opacity 0.35s,-webkit-transform .35s;transition:opacity .35s,transform .35s;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;width:100%}
.single-pro-main-image{border:1px solid #eaeaea;position:relative;overflow:hidden;margin-bottom:20px;background:#fff}
.zoomWrapper{margin:0 auto}
.zoomWrapper img{position:inherit!important}
.zoomContainer .zoomWindow{border:1px solid #ddd!important;z-index:111;margin-top:-1px;margin-left:1px}
.zoomContainer .zoomWindowContainer{position:relative;z-index:9999}
@media (max-width: 1024px) {
.zoomContainer{display:none}
}
.single-pro-thumb{margin-left:-5px;margin-right:-5px}
.single-pro-thumb .owl-buttons div{height:30px;margin-top:-15px}
.single-pro-thumb .owl-buttons div i{font-size:14px;text-align:center;line-height:28px;height:30px;width:30px;border:1px solid #eaeaea;background:#fff;color:#ccc;text-shadow:none;margin:0}
.single-pro-thumb .owl-buttons div i:hover{border-color:#e34444;background:#e34444;color:#FFF}
.single-pro-thumb .owl-buttons .owl-prev{left:5px}
.single-pro-thumb .owl-buttons .owl-next{right:5px}
.single-pro-thumb .owl-carousel:hover .owl-buttons div{opacity:1}
@media (max-width: 767px) {
.single-pro-thumb .owl-buttons div{right:5px}
.single-pro-thumb .owl-buttons .owl-next{right:5px}
.single-pro-thumb .owl-buttons .owl-prev{right:5px}
}
.thubm-caro{padding:0}
.thubm-caro .owl-item{padding-left:5px;padding-right:5px}
.thubm-caro .owl-item img{border:1px solid #eaeaea;margin:0 auto}
.stock li [class*="quantity_"]{display: none;}
.stock li [class*="quantity_"].active{display: inline;}
.pro-desc{border-bottom:1px solid #eaeaea;padding-bottom:5px;margin:0 0 20px}
.pro-desc h2{padding:0;font-weight:500;text-transform:capitalize;color:#222;margin:0 0 5px;font-size:18px;line-height:normal}
.pro-desc .list-unstyled{color:#222}
.pro-desc .list-unstyled li{padding:0;margin:0;line-height:25px;font-weight:600}
.pro-desc .list-unstyled .span{font-weight:400}
.pro-desc .rating{margin-bottom:5px}
.pro-desc .rating p{margin-bottom:0}
.pro-desc .rating i{font-size:13px;line-height:18px;display:inline;color:#e5e5e5}
.pro-desc .rating i + i{margin-left:-2px}
.pro-desc .rating i.active{color:#ffcc01}
.pro-desc .rating .sto{display:inline-block;padding-left:5px;font-size:13px;color:#666;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
.pro-desc .rating .sto:hover{color:#e34444}
.pd-price{position:relative;font-weight:600;font-size:16px;color:#333;margin:0 0 5px}
.pd-price li{padding-bottom:0;line-height:normal!important}
.pd-price .status-sale{display:none}
.pd-price .price-new{font-weight:600;font-size:16px;color:#333}
.pd-price .price-old{font-size:14px;text-decoration:line-through;color:#aaa}
#product{margin-top:15px}
#product .option-box > h3{font-size:15px;margin-bottom:15px;font-weight:700}
#product .option-box .control-label{font-size:13px;font-weight:500;margin-bottom:10px}
#product .option-box .form-group{margin-bottom:0;padding-bottom:15px}
#product .buy-box{border-bottom:1px solid #eaeaea;margin:0 0 20px}
#product .buy-box .pd-price{margin-bottom:15px;font-size:18px;color:#222;font-weight:700}
#product .buy-box .pd-price li{padding:0}
#product .buy-box .pd-price .price-old{text-decoration:line-through;font-size:16px;color:#888}
#product .buy-box .product_details_cart{display:inline-block;margin-right:3px}
#product .button-cart{margin:0 0 20px;padding:0;border:0;vertical-align:top;display:inline-block}
#product .button-cart button{position:relative;display:inline-block;vertical-align:top;background:#FFF;border-radius:0;color:#333;width:36px;height:36px;text-align:center;line-height:36px;border:1px solid #eaeaea}
#product .button-cart button:hover{background:#e34444;border-color:#e34444;color:#fff}
#product .button-cart button:first-child{padding:0 15px;margin:0;font-size:14px;min-width:150px;text-transform:uppercase;font-weight:700;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
#product .button-cart button:first-child i{display:none}
#product .button-cart > button + button{font-size:14px;margin:0 0 0 3px;padding:0;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
#product .button-cart > button + button i{width:36px;text-align:center}
#product .button-cart > button + button span{display:none}
#product .product-quantity{position:relative;display:inline}
#product .product-quantity .numbers-row{display:inline-block;position:relative;width:100%;max-width:115px}
#product .product-quantity .numbers-row input{border:1px solid #eaeaea;color:#555;font-size:14px;height:36px;text-align:center;width:100%;padding-left:37px;padding-right:37px}
#product .product-quantity .numbers-row input:focus,#product .product-quantity .numbers-row input:active{outline:none;box-shadow:none}
#product .product-quantity .numbers-row .qtybutton{width:35px;height:36px;line-height:36px;padding:0;position:absolute;top:0;text-align:center;font-size:14px;color:#555;font-weight:400!important;cursor:pointer;border-radius:0;border:1px solid #eaeaea;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
#product .product-quantity .numbers-row .qtybutton:hover{background:#e34444;border-color:#e34444;color:#FFF}
#product .product-quantity .numbers-row .dec.qtybutton{left:0}
#product .product-quantity .numbers-row .inc.qtybutton{right:0}
#product .tags-ms{margin-bottom:0}
#product .tags-ms label{font-size:13px;color:#555}
#product .tags-ms a{font-size:13px;line-height:18px;color:#222;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
#product .tags-ms a:after{font-size:#333;content:",";margin-left:5px}
#product .tags-ms a:last-child:after{display:none}
#product .tags-ms a:hover{color:#e34444}
.add-to-links{display:block;float:left}
.fv-comp-button{margin-top:20px;overflow:auto}
.fv-comp-button .add-to-links{padding:0}
.fv-comp-button button{width:auto;padding:0;margin:0;background-color:transparent;border:0;overflow:hidden;white-space:nowrap;display:inline-block;cursor:pointer;color:#333;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
.fv-comp-button button:focus,.fv-comp-button button:active{border:0;outline:none;box-shadow:none}
.fv-comp-button button i{display:inline-block;vertical-align:middle;font-size:24px;line-height:24px}
.fv-comp-button button span{display:inline-block;vertical-align:middle;font-size:15px;max-width:0;overflow:hidden;transition:max-width 500ms ease-out 100ms,opacity 500ms ease-out 100ms,color;opacity:0}
.fv-comp-button button:hover span{opacity:1;visibility:visible;max-width:150px}
.fv-comp-button button:hover{color:#e34444}
.fv-comp-button button:first-child{margin-right:5px}
.fv-comp-button button:last-child{margin-left:5px}
.image-option{margin-bottom:10px}
.image-option .radio{display:inline-block;padding-right:10px;margin:0}
.image-option .radio .img-thumbnail{width:30px;height:30px;display:inline-block;cursor:pointer;position:relative;margin-bottom:12px;line-height:35px;border-radius:0;border:1px solid #CCC;padding:2px}
.image-option .radio .input_color{margin-top:9px}
.add-to-links > li{float:left}
.bg-ms-product{margin-top:30px;margin-bottom:30px}
.bg-ms-product .nav-tabs{border:0;margin:0;border:1px solid #eaeaea}
.bg-ms-product .nav-tabs li{float:left;margin-bottom:-1px}
.bg-ms-product .nav-tabs a{margin:0;padding:15px 20px 14px;cursor:pointer;border:none;font-size:16px;font-weight:700;text-transform:uppercase;border-radius:0;border-right:1px solid #eaeaea;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
.bg-ms-product .nav-tabs a:hover{background:#222;color:#fff}
.bg-ms-product .nav-tabs > li.active a{background:#222;color:#fff;border:0;border-right:1px solid #eaeaea}
.bg-ms-product .tab-content{padding:17px 20px 15px;border:1px solid #eaeaea;border-top:none}
.bg-ms-product .tab-content p{color:#666;font-size:13px;line-height:22px}
#tab-review h2{margin-top:20px;font-size:16px;font-weight:600;text-transform:uppercase}
#tab-review .rating{margin-bottom:5px}
#tab-review .rating i{width:10px;font-size:14px;color:#e5e5e5}
#tab-review .rating i.active{color:#d6a916}
#tab-review .control-label{margin-bottom:5px}
.product-late-ms{margin-top:10px;padding-right:1px}
.text_related{font-size:20px;font-weight:700;color:#333;text-transform:uppercase;margin-bottom:30px}
@media (max-width: 480px) {
.text_related{font-size:17px;line-height:27px}
}
.featured-item{clear:both;margin-bottom:0}
.featured-item .owl-controls{top:-35px;right:15px;position:absolute}
.featured-item .owl-buttons div{margin-top:-15px;opacity:1!important}
.featured-item .owl-buttons div i{font-size:14px;text-align:center;line-height:28px;height:30px;width:30px;border:1px solid #eaeaea;background:#fff;color:#ccc;text-shadow:none}
.featured-item .owl-buttons div i:hover{border-color:#e34444;background:#e34444;color:#FFF}
.featured-item .owl-buttons .owl-prev{left:auto;right:40px}
.featured-item .owl-buttons .owl-next{right:0}
.featured-item .owl-item{padding-left:15px;padding-right:15px}
@media (max-width: 767px) {
.pro-desc h2{font-size:20px}
#product .product-quantity{display:block;margin-bottom:15px}
#product .button-cart button:first-child{margin-left:0}
}
.alert{border-radius:0;margin:0;font-size:13px}
.alert .close{line-height:18px}
body .alert{padding:8px 14px;margin:0 0 20px}
button:focus,button:active{outline:none;box-shadow:none}
.btn-xs{font-size:9px}
.btn-sm{font-size:10.2px}
.btn-group > .btn-xs{font-size:9px}
.btn-group > .btn-sm{font-size:10.2px}
.btn{background:#fff;border:1px solid #ebebeb;color:gray;height:35px;line-height:34px;padding:0 15px;font-size:13px;position:relative;border-radius:0;text-transform:uppercase;transition:all .25s ease-out 0;vertical-align:middle;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
.btn:focus,.btn:active{box-shadow:none;outline:none}
.btn:hover,.btn:focus,.btn:active{background:#e34444;border-color:#e34444;color:#FFF}
.form-horizontal .btn{margin-top:8px}
.input-group .form-control{height:35px;line-height:35px;padding:0 10px}
.input-group .btn{margin:0}
.form-horizontal .checkbox,.form-horizontal .checkbox-inline,.form-horizontal .radio,.form-horizontal .radio-inline{padding-top:2px;margin-top:0;margin-bottom:5px}
#agree_input{margin-bottom:10px}
.list-group a{border:1px solid #DDD;color:#888;padding:8px 12px}
.list-group a.active,.list-group a.active:hover,.list-group a:hover{color:#444;background:#eee;border:1px solid #DDD;text-shadow:0 1px 0 #FFF}
.information-contact #content .title h3{font-weight:700}
.information-contact #content .btn{margin-bottom:15px}
.add_contact{border:1px #DDD solid;padding:15px 10px;margin:2em 0;font-size:14px;line-height:1.6;font-weight:400}
.add_contact h3{font-size:14px;line-height:1.6;font-weight:400;margin:0;color:#222}
@media (max-width: 991px) {
.add_contact .item-content{margin-bottom:15px}
.add_contact .item-content:last-child{margin-bottom:0}
}
@media (min-width: 768px) {
#column-left .product-layout .col-md-3{width:100%}
#column-left + #content .product-layout .col-md-3{width:50%}
#column-left + #content + #column-right .product-layout .col-md-3{width:100%}
#content + #column-right .product-layout .col-md-3{width:100%}
}
#column-left .product-layout,#column-right .product-layout{width:100%}
.product-table .price .price-new{font-weight:700}
.product-table .price .price-old{text-decoration:underline}
.desc-compare{display:table-cell;max-width:350px}
@media (max-width: 767px) {
.desc-compare{white-space:inherit!important}
}
.checkout-cart .control-label{padding:10px 0}
#quickcheckout #step_6 .qc-quantity .input-group{min-width:auto!important;max-width:143px}
#quickcheckout #step_6 .qc-checkout-product table td img{width:75px}
#quickcheckout .payment-methods label img{display:none}
#quickcheckout #step_4 .title{margin-top:21px}
#quickcheckout #option_login_popup_trigger_wrap .btn-primary{background:#e34444;border-color:#e34444;color:#FFF;margin:0;font-weight:600}
#quickcheckout #option_login_popup_trigger_wrap .btn-primary:hover{background:#09a2b0;border-color:#09a2b0}
#quickcheckout #option_login_popup a:hover{text-decoration:none}
#quickcheckout #step_8 .control-label{padding-bottom:5px}
@media (max-width: 480px) {
#option_register_popup,#option_guest_popup{width:100%!important;display:block;margin:5px 0}
}
.footer-social{overflow:hidden;padding-bottom:50px;margin-bottom:40px;border-bottom:1px solid #eaeaea}
.footer-social .list{padding:0;margin:0;list-style:none;text-align:center}
.footer-social .list li{display:block;display:inline-block;margin-right:15px}
.footer-social .list li .item-image{font-size:18px;color:#ccc;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
.footer-social .list li .item-image:hover{color:#e34444;transform:rotate(7deg)}
.footer-social .list li:last-child{margin-right:0}
@media (max-width: 767px) {
.footer-social{padding-bottom:20px;margin-bottom:30px}
}
.newsletter-box{color:#666}
.newsletter-box .form-newsletter{position:relative}
.newsletter-box .form-newsletter .newsletters-input{margin-bottom:15px}
.newsletter-box .form-newsletter .newsletters-input::-webkit-input-placeholder{color:#666!important}
.newsletter-box .form-newsletter .newsletters-input:-ms-input-placeholder{color:#666!important}
.newsletter-box .form-newsletter .newsletters-input::-moz-placeholder{color:#666!important}
.newsletter-box .form-newsletter .newsletters-input:active,.newsletter-box .form-newsletter .newsletters-input:focus{color:#666!important}
.newsletter-box .form-newsletter .newsletters-input:focus::-webkit-input-placeholder{color:transparent!important}
.newsletter-box .form-newsletter .newsletters-input:focus:-moz-placeholder{color:transparent!important}
.newsletter-box .form-newsletter .newsletters-input:focus::-moz-placeholder{color:transparent!important}
.newsletter-box .form-newsletter .newsletters-input:focus:-ms-input-placeholder{color:transparent!important}
.newsletter-box .form-newsletter .newsletters-btn{padding-left:15px;padding-right:15px}
.newsletter-box .form-newsletter .btn{height:30px;line-height:30px;font-weight:700;font-size:12px;background:#222;border:0;color:#FFF}
.newsletter-box .form-newsletter .btn:hover{background:#e34444;color:#FFF}
@media only screen and (max-width: 1239px) and (min-width: 1025px) {
.newsletter-box .newsletter-box-content h3{font-size:26px}
}
.about-home .html-content{text-align:center}
.about-home .html-content .title{color:#333;font-size:25px;text-transform:uppercase;margin-bottom:10px;font-weight:400}
.about-home .html-content .cont{max-width:580px;margin:0 auto 15px;font-size:12px;color:#333;line-height:18px}
.info_store .list{padding:0 0 0 42px;margin:0}
.info_store .list .item-content{position:relative;min-height:38px}
.info_store .list .item-content + .item-content{margin-top:10px}
.info_store .list .item-title h3{color:#666;font-size:13px;line-height:1.5;font-weight:400;margin:0;padding:0}
.info_store .list .item-image{left:-45px;top:0;display:inline-block;position:absolute}
.info_store .list .item-image i{width:34px;height:34px;text-align:center;line-height:34px;background:#fff;border:1px solid #eaeaea;border-radius:100%;line-height:30px;color:#888;font-size:13px}
#content .item-content .item-title h3 p{margin: 0}/* contact page */
@media (max-width: 480px) {
.info_store .item-content{margin-bottom:15px}
}
footer{background:#F8F8F6;padding:0}
footer .footer-top{color:#666;padding:45px 0 55px;font-size:13px;line-height:1.5;font-weight:400}
footer .footer-top .vertical_footer .title{color:#333;margin:10px 0 32px;font-size:15px;font-weight:700;text-transform:uppercase;letter-spacing:-.3px}
footer .footer-top .vertical_footer .title a,footer .footer-top .vertical_footer .title span{color:#333}
footer .footer-top .vertical_footer .col-sm-6 .dv-item-module{max-width:400px;margin:0}
footer .footer-top .vertical_footer .html-content{font-size:13px}
footer .footer-top .vertical_footer .html-content p{margin-bottom:5px}
footer .menu_vertical h4 .btn-open-mobile{display:none}
footer .menu_vertical h4 a{pointer-events:none}
footer .menu_vertical .menu{padding:0;margin:0}
footer .menu_vertical .menu li{line-height:1.5;padding:6px 0}
footer .menu_vertical .menu li a{color:#666;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
footer .menu_vertical .menu li a:hover{color:#e34444}
footer .menu_vertical .menu li:first-child{padding-top:0}
footer .footer-bottom{background:#FFF;padding:25px 0;color:#666;font-size:13px}
footer .copyright{color:#666}
footer .copyright a{color:#666}
footer .copyright a:hover{color:red}
footer .chili a{color:#666!important}
footer .chili a:hover{color:red!important}
@media (max-width: 991px) and (min-width: 768px) {
footer .vertical_footer .col-xs-12{width:25%}
footer .vertical_footer .col-xs-12:nth-child(1){width:100%}
footer .vertical_footer .col-xs-12:nth-child(4){clear:left}
}
@media (max-width: 767px) and (min-width: 481px) {
footer .vertical_footer .title{margin-bottom:15px!important}
footer .vertical_footer .col-xs-12{width:50%}
footer .vertical_footer .col-xs-12:nth-child(1){width:100%;margin-bottom:30px}
footer .vertical_footer .col-xs-12:nth-child(-n + 3){margin-bottom:30px}
}
@media (max-width: 767px) {
footer .footer-bottom{padding:20px 0}
footer .footer-bottom .copyright,footer .footer-bottom .chili{text-align:center}
footer .footer-bottom .copyright{padding-bottom:10px}
}
@media (max-width: 480px) {
footer .footer-top .vertical_footer .title{position:relative}
footer .footer-top .vertical_footer .title:after{position:absolute;right:5px;top:1px;content:"\f0fe";font:normal normal normal 14px/1 FontAwesome}
footer .footer-top .vertical_footer .open .title:after,footer .footer-top .vertical_footer .content_info.open .title:after{content:"\f146"}
footer .footer-top .menu_vertical .menu li:last-child{margin-bottom:15px}
footer #footer_bottom{padding:5px 0}
footer #footer_bottom .copyright{text-align:center;padding:0 15px 10px;line-height:1.5}
footer #footer_bottom .chili{text-align:center;padding-bottom:10px;line-height:1.5}
}
#scrollUp{width:40px;height:40px;text-align:center;line-height:40px;background:#fff;border:1px solid #e4e4e4;position:fixed;right:25px;bottom:75px;color:#222;-webkit-transition:ease all .4s;-o-transition:ease all .4s;transition:ease all .4s}
#scrollUp i{font-size:20px;line-height:38px;-webkit-backface-visibility:hidden;backface-visibility:hidden}
#scrollUp:hover{background:#e34444;border-color:#e34444;color:#FFF}
.ovelay{margin:0;padding:15px 0 0}
.widget_logo img{margin-bottom:18px}
.widget_logo ul li i{font-size:24px;padding-right:20px}
.wl_left i{color:#d9d9d9}

