@charset "utf-8";@import url("../css/bootstrap.min.css");@import url("webslidemenu.css");@import url("animate.css");@import url("fonts.css");@import url("../fonts/fontawesome/font-awesome.css");@import url("../fonts/linearicons/linearicons.css");html *{outline:0 !important;}
body{background:#ffffff;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;font-size:14px;color:#000;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
input, select {
    font-size: 1.6rem!important;
}

a{color:inherit;text-decoration:none;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out;}
a:hover,a:focus{text-decoration:none;color:#fd5556;}
#pheader .container{position:relative;}
.logo h1{margin:10px 0 0;}
.color-red{color:#ed1c24;}
.color-redphone{color:#ed1c24;font-size:20px;font-weight:bold;}
.color-redphone a{color:#ed1c24;font-size:20px;font-weight:bold;}
.topbar-container{display:inline-block;width:100%;}
.head-topbar{height:35px;background-color:#f4f4f4;color:#444444;font-size:13px;}
.head-topbar i{color:#aaaaaa;}
.head-topbar .topbar-place{line-height:23px;padding:6px 17px 6px 0;margin:0px;border-right:1px solid #dddddd;}
.head-topbar .topbar-place span{margin-left:4px;}
.head-topbar .topbar-place span.caret{margin-top:-3px}
.head-topbar .topbar-place .btn-city{padding:0 10px;height:23px;background-color:#ececec;line-height:23px;border-radius:4px;border:1px solid #dbdbdb;}
.head-topbar .topbar-newletter a{height:23px;line-height:23px;}
.head-topbar .topbar-newletter{line-height:23px;padding:6px 17px;margin:0px;border-left:1px solid #ffffff;}
.topbar-support{line-height:23px;padding:6px 17px;margin:0px;border-right:1px solid #dddddd;}
.topbar-support li{float:left;padding:0px 10px;}
.header-loginbox .box-account{padding:0 10px 10px;}
.header-loginbox{position:absolute;right:55px;top:0px;display:none;padding:11px;z-index:10;padding:15px 11px 6px;font-size:16px;}
.header-loginbox .box-account ul{list-style-type:none;margin:0;padding:0;}
.header-loginbox .box-account li a{display:block;position:relative;text-align:center;line-height:40px;background:#fdd835;border-radius:4px;margin:10px 0 0;color:#4a4a4a;transition:all 0.5s ease;font-family:'Roboto-Medium';font-size:13px;}
.header-loginbox .dropdown-menu{position:fixed;top:44px;right:0;width:100%;margin:0;border-color:#efefef;border-radius:0;}
.header-loginbox .box-account li.onlogin a{background:#eaeaea;}
.topbar-account{border-left:1px solid #ffffff;padding:8px 0px 5px 20px;line-height:11px;font-size:12px;position:relative;}
.topbar-account .icon-usser{float:left;}
.topbar-account .fa{font-size:16px;margin:2px 10px 0 0;}
.head-topbar .topbar-account:hover .box-account ,
.header-loginbox.open .box-account{display:block;}
.topbar-account .box-account{padding-top:12px;display:none;position:absolute;top:34px;right:0px;z-index:10;}
.topbar-account .account-list{border:1px solid #efefef;background:#fff;min-width:196px;z-index:15;list-style:none;margin:0;padding:4px 12px 15px;border-radius:0 0 3px 3px;box-shadow:0 6px 12px 0 rgba(0,0,0,.18);}
.topbar-account .account-list:before{border:9px solid transparent;border-bottom:9px solid #efefef;top:-8px;left:50%;content:" ";height:0;width:0;position:absolute;pointer-events:none;}
.topbar-account .account-list li a{float:none;display:block;position:relative;width:236px;height:40px;text-align:center;line-height:40px;background:#fdd835;border-radius:4px;margin:10px 0 0;color:#4a4a4a;transition:all 0.5s ease;font-family:'Roboto-Medium';font-size:13px;}
.topbar-account .account-list li a:hover{background:#f7b110;}
.account-list li.account-loginfb a{background:#3b5998;color:#fff;}
.account-list li.account-logingg a{background:#df4a32;color:#fff;}
.account-list li.account-loginfb:hover a,
.account-list li.account-logingg:hover a{opacity:0.8;}
.topbar-account .login-active .fa{float:none;}
.topbar-account .login-active .fa.fa-caret-down{margin-left:10px;}
.topbar-account .dropdown-menu{padding:10px 15px 15px;right:0;left:auto;}
.topbar-account .dropdown-menu li:last-child a{border:0;}
.topbar-account .dropdown-menu li a:hover{background:no-repeat;color:#ed1c24;}
.topbar-account .dropdown-menu li a{text-align:left;line-height:25px;border-bottom:1px solid #dadada;border-radius:4px;margin:5px 0 0;color:#4a4a4a;transition:all 0.5s ease;font-family:'Roboto-Medium';font-size:13px;border-radius:0;padding:2px 10px 2px 0;}
.header-search{width:100%;display:inline-block;position:relative;border:2px solid #d3d3d3;background-color:#fff;margin-top:70px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.header_search_filter{position:relative;float:left;width:160px;border-right:1px solid #eee;cursor:pointer;}
.header-search .btn-submit{height:37px;width:50px;padding:0;cursor:pointer;position:absolute;z-index:1;right:-2px;top:-2px;border-radius:0px;color:#ffffff;background-color:#ed1c24;-webkit-border-radius:0px 3px 3px 0;-moz-border-radius:0px 3px 3px 0;;border-radius:0px 3px 3px 0;}
.header-search .btn-submit:before{content:"\e86f";display:inline-block;font-family:"Linearicons-Free";color:#fff;font-size:20px;}
.header-search .fomr_field{width:100%;height:34px;padding:0 50px 0 10px;border:none;color:#555;}
.header-search .fomr_field.autocomplete-loading{background:url(../images/loading_search.gif) no-repeat scroll 94% center white;}
#autocomplete,
.search-result{position:absolute;top:37px;left:0px;background:#fff;border:1px solid #d3d3d3;z-index:999;padding:15px;display:none;width:100%;color:#5f5f5f;text-align:left;}
#autocomplete ul,
.search-result ul{padding:0 0 0 18px;margin:0;}
.search-result ul li,
#autocomplete ul li{text-align:left;margin:2px 0;color:#5f5f5f;font-size:14px;line-height:1.8;}
.list-filter{width:100%;line-height:34px;padding:0 12px;color:#666666;font-size:14px;}
.header_search_filter:before{content:'\f0d7';position:absolute;top:25%;right:10px;font-family:"FontAwesome";color:#000;transition:0.35s all ease;}
.header_search_filter img{max-width:71px;}
.header_search_filter ul.search-hover li{padding:0px 10px;border-bottom:1px solid #eee;background:#fff;height:45px;line-height:45px;color:#444;}
.header_search_filter ul.search-hover li:hover{background:#e5e5e5;}
.header-cart{display:inline-block;list-style:none;text-align:right;margin:68px 0 0;position:relative;color:#555;font-family:'OpenSans';font-size:14px;}
.header-cart i{font-size:22px;}
.header-cart .circle{border-radius:100%;background:#ed1c24;color:#fff;font-size:11px;padding:1px 6px 2px;margin-left:-7px;height:18px;width:18px;position:relative;top:-8px;}
.sticky-header{max-height:42px;display:block;background-color:#000000;z-index:1020;position:relative;transition:opacity 1s ease-out;position:fixed;left:0px;width:100%;top:-200px;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.sticky-header .header-logo{margin-top:6px;}
.sticky-header .header-logo a{padding:5px 10px;}
.sticky-header .wsmenu-list > li{float:left;display:block;}
.sticky-header .header-search{margin-top:5px;border:0px;width:595px;}
.sticky-header .list-filter{line-height:31px;text-align:left;}
.sticky-header .fomr_field{line-height:31px;}
.sticky-header .btn-submit{background:none;height:31px;right:0px;top:0px;width:30px;}
.sticky-header .btn-submit:before{color:#333;}
.sticky-header .header-cart{margin-top:0;color:#fff;}
.sticky-header .header-cart > a{color:#fff;padding:9px 14px 6px;}
.sticky-header .header-cart .circle{background:#fff;color:#ed1c24;}
.sticky-header .main-nav__branding{width:250px;}
.sticky-header .main-nav__branding > a i{float:right;font-size:18px;}
.sticky-header .main-nav__branding a:focus,
.sticky-header .main-nav__branding a:hover{border:0px;}
.sticky-header .main-nav__branding.active> a{background-color:#ca181f;font-family:'Roboto-Regular';color:#fff;padding:11px 15px;}
.header-main{padding-bottom:7px;}
.onepage .header-main{padding-bottom:10px;}
.onepage .header-wsmenu,
.onepage .header-search,
.onepage .header-scroll,
.onepage .header-cart{display:none !important;}
.header-main.on-scroll-up{top:0;-webkit-transition:height 0.2s, left 0.5s, top 0.4s;transition:height 0.2s, left 0.5s, top 0.4s;}
.header-main.on-scroll .toggle-search{display:block !important;}
.header-main .toggle-search{display:none !important;position:absolute;z-index:5;top:17px;right:55px;}
.icon-searchs{background:url(../images/icon-search1.png) no-repeat;background-size:cover;height:25px;width:25px;}
.header-main.search-mode .header-search{display:block;opacity:1;top:-40px;left:0;position:absolute;background:#fff;height:47px;z-index:110;padding:5px;}
.header-search .btn-cancel{display:none;right:12px;top:7px;font-size:15px;color:#0000cc;position:absolute;}
.search-mode .btn-cancel{display:block;}
.header-wsmenu{height:42px;background-color:#000000;}
.wsmenu{text-align:left;float:none;}
.wsmenu-list > li > a{text-transform:uppercase;font-size:14px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#fffefe;padding:15px;line-height:11px;margin-right:1px;font-family:'RobotoCondensed-Regular';}
.wsmenu-list{text-align:left;float:left;width:auto;}
.wsmenu-list li.red-cate{width:250px;position:relative;text-align:left;}
.wsmenu-list > li.active > a,
.wsmenu-list > li > a:hover{background:#ca181f;color:#fff;}
.wsmenu-submenu li a{color:#333;font-size:13px;}
.wsmenu-submenu >li > a:hover{background:#ff0000 !important;color:#fff;border-radius:0px;}
.header-wsmenu.cloned{width:100%;background-color:#ffffff;border-bottom:1px solid #EAEAEA;}
.wsmenu-list > li > a:last-child{border-radius:0px;}
.wsmenu-list > li a.bg-red{background:url(../images/icon-nav.png) 92% 50% no-repeat #ffcd00;border-radius:0px;font-size:15px;line-height:10px;padding:16px 50px 16px 16px;}
.wsmenu-list > li.red-cate .wsmenu-submenu{width:99.8%;display:block;opacity:1;padding:0px;top:42px;}
.wsmenu-list > li.red-cate.active .wsmenu-submenu{visibility:visible;}
.wsmenu-list > li.red-cate .wsmenu-submenu > li{position:static;color:#333;padding: 17.2px 0 17px 10px;}
.wsmenu-list > li.red-cate .wsmenu-submenu > li > a:after{position:absolute;right:15px;top:0px;font-family:"FontAwesome";content:'\f105';font-size:15px;}
.wsmenu-list > li.red-cate .wsmenu-submenu > li > a{position:relative;transition:none;font-size:13.5px;padding:0 5px 0 25px;background:url(../images/icon-fire.png) left center no-repeat !important;font-family:'RobotoCondensed-Regular';text-transform:uppercase;font-weight:bold;color:#fff;-webkit-box-orient:vertical;text-overflow:ellipsis;display:-webkit-box;overflow:hidden;-webkit-line-clamp:1;}
.wsmenu-list li.red-cate .wsmenu-submenu li:last-child{border-bottom:0px;}
.wsmenu-list li.red-cate .wsmenu-submenu > li:hover{background:#ff0000 !important;}
.wsmenu-list li.red-cate .wsmenu-submenu > li:hover > a{color:#fff;}
.mega-sub-menu{width:770px;padding:0 0 20px 20px;}
.mega-sub-menu ul{float:left;list-style:none;padding:0px;margin:0px;}
.mega-sub-menu ul.full-w li{width:100%;}
.mega-sub-menu li{width:250px;float:none;border-bottom:0px;margin:0px;padding:0px;-webkit-box-orient:vertical;text-overflow:ellipsis;display:-webkit-box;overflow:hidden;-webkit-line-clamp:1;height:30px;}
.mega-sub-menu li a{padding:4px 20px 4px 15px;font-family:'Roboto-Regular';color:#616161;font-size:13px;position:relative;text-transform:none;}
.mega-sub-menu li.submenu-none a{font-size:14px;color:#111;font-family:'Roboto-Medium';}
.mega-sub-menu li.submenu-heading a{font-family:'Roboto-Bold';text-transform:uppercase;color:#000;font-size:14px;padding:5px 20px 5px 15px;}
.mega-sub-menu li.submenu-none a:before,
.mega-sub-menu li.submenu-heading a:before{content:"\f0c8";font:normal normal normal 14px/1 FontAwesome;color:#626161;position:absolute;left:0px;top:15px;font-size:5px;}
.mega-sub-menu li:hover{background:none !important;}
.mega-sub-menu li:hover a{color:#ff0000 !important;}
.wsmenu-list > li.red-cate.close-cate .wsmenu-submenu{display:none;opacity:0;visibility:visible;}
.wsmenu-list > li.red-cate.close-cate:hover .wsmenu-submenu{display:block;opacity:1;visibility:visible;}
.wsmenu-list .wsmenu-submenu li:hover .wsmenu-submenu-sub{height:100%;padding:15px 0 0 10px;transform:none;-webkit-transition:none;}
.header-mobile{background:#eaeaea;padding-top:50px;}
.header-mobile .container{padding:0 10px;}
.menu-container{margin-top:10px;background:#fff;padding:15px;}
.mobile-search{position:relative;}
.mobile-search .fomr_field{line-height:35px;background-color:#f3f3f3;width:100%;padding:0 50px 0 10px;border:none;}
.mobile-search .btn-submit:before{color:#555;font-size:15px;content:"\f002";display:inline-block;font:normal normal normal 14px/1 FontAwesome;}
.mobile-search .btn-submit{height:31px;background:none;width:50px;cursor:pointer;position:absolute;border:0px;z-index:1;right:-2px;top:-2px;}
.m-register ul{margin:10px 0px 0px;}
.m-register li{width:49%;text-align:center;padding:7px;background:#f5f5f5;font-family:'RobotoCondensed-Regular';color:#555;}
.m-register li:hover{background:#ccc;}
.m-nav ul{list-style:none;padding:0;margin:20px 0 50px;}
.m-nav ul.m-category-list li:nth-child(2n-3){margin-right:10px;}
.m-nav ul.m-category-list li{display:inline-block;width:47%;height:55px;line-height:50px;overflow:hidden;background:#f2f2f2;border:1px solid #e0e0e0;border-radius:2px;margin-bottom:12px;padding:0 13px;text-align:left;font-size:13px;font-family:'RobotoCondensed-Bold';color:#555;vertical-align:middle;text-transform:uppercase;}
.m-nav ul.m-category-list li:last-child(){margin-right:0;}
.m-nav ul.m-category-list li a{display:inline-block;vertical-align:middle;line-height:normal;}
h3.mbtitle{padding-left:10px;font-weight:bold;letter-spacing:-0.5px;font-size:22px;color:#333;text-transform:uppercase;position:relative;border-left:4px solid #ff6d15;height:26px;margin-bottom:10px;line-height:28px;}
.mfs-cover{display:block;position:relative;height:150px;background-position:center center;background-repeat:no-repeat;background-size:cover;margin-bottom:10px;}
.mfs-cover:before{display:block;position:absolute;width:100%;bottom:0;left:0;height:100%;background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7));background-image:-webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7));background-image:-moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7));content:'';z-index:0;}
.mfs-name{display:block;position:absolute;bottom:0;left:0;padding:15px;color:#fff;font-size:22px;font-weight:bold;color:#fff;text-transform:uppercase;}
.animated-mobile{cursor:pointer;padding:13px 25px 10px 0px;margin:10px 10px 0 0px;display:none;position:absolute;left:15px;top:0;z-index:102;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.animated-mobile span,
.animated-mobile span:before,
.animated-mobile span:after{cursor:pointer;height:2px;width:25px;background:#585858;position:absolute;display:block;content:'';transition:all 500ms ease-in-out;}
.animated-mobile span:before{top:-7px;}
.animated-mobile span:after{bottom:-7px;}
.header-mobile{display:none;}
.mobilefornav .header-mobile{display:block;}
.mobilefornav .header-search, .mobilefornav main, .mobilefornav #footer{display:none;}
.mobileforfilter body{overflow:hidden;}
.btn:hover{background:#ccc;}
.imgresponsive{max-width:100%;height:auto;}
.imgproduct{ min-height: 280.2px;}
.related-imgproduct{min-height: 191px;}
.limit_sapo_new2{-webkit-line-clamp:2;}
.limit_sapo_new3{-webkit-line-clamp:3;}
.limit_sapo_new4{-webkit-line-clamp:4;}
.limit_sapo_new2, .limit_sapo_new3, .limit_sapo_new4{-webkit-box-orient:vertical;text-overflow:ellipsis;display:-webkit-box;overflow:hidden;}
.bg-white{background:#fff;}
.bg-blue{background:#00c2c4;}
.bg-pink{background:#fa3898;}
.bg-green{background:#8dbf41;}
.bg-red{background:#e84442;}
.bg-gray{background:#f3f3f3;padding-top:20px;}
.left{float:left;}
.right{float:right;}
.mTitle{color:#111;margin:0 0 20px;font-size:24px;text-transform:uppercase;font-family:'RobotoCondensed-Regular';}
.boxTitle{color:#111;margin:10px 0px;font-size:20px;text-transform:uppercase;font-family:'RobotoCondensed-Regular';}
.lineTitle{color:#111;margin:0 0 15px;font-size:18px;font-family:'RobotoCondensed-Regular';}
.btn-main{min-width:170px;font-size:16px;line-height:20px;padding:10px;color:#fff;text-transform:uppercase;background-color:#6bbb05;border:0;border-radius:3px;border-bottom:4px solid #487513;transition:all 0.5s ease;font-family:'Roboto-Medium';}
.btn-main:hover{color:#fff;background-color:#449d44;border-color:#398439;}
.btn-red{min-width:170px;font-size:16px;line-height:22px;padding:10px;color:#fff;text-transform:uppercase;background-color:#ed1c24;border:0;border-radius:0px;transition:all 0.5s ease;font-family:'Roboto-Medium';}
.btn-red:hover{color:#fff;opacity:0.7;}
.btn-green{min-width:170px;font-size:16px;line-height:20px;padding:10px;color:#fff;text-transform:uppercase;background-color:#23b445;border:0;border-radius:0px;transition:all 0.5s ease;font-family:'Roboto-Medium';}
.btn-green:hover{color:#fff;background-color:#029a26;border-color:#029a26;}
.btn-fb1{min-width:170px;font-size:16px;line-height:20px;padding:10px;color:#fff;text-transform:uppercase;background-color:#235b99;border:0;border-radius:0px;transition:all 0.5s ease;font-family:'Roboto-Medium';}
.btn-fb1:hover{color:#fff;background-color:#4b62b9;border-color:#1a369e;}
.btn-gg1{min-width:170px;font-size:16px;line-height:20px;padding:10px;color:#fff;text-transform:uppercase;background-color:#d94d39;border:0;border-radius:0px;transition:all 0.5s ease;font-family:'Roboto-Medium';}
.btn-gg1:hover{color:#fff;background-color:#e07769;border-color:#e07769;}
.btn-dn1{min-width:170px;font-size:16px;line-height:20px;padding:10px;color:#fff;text-transform:uppercase;background-color:#fdd835;border:0;border-radius:0px;transition:all 0.5s ease;font-family:'Roboto-Medium';}
.btn-dn1:hover{color:#fff;background-color:#029a26;border-color:#029a26;}
.btn-favorite{border-radius:5px;background-color:#fff;color:#949494;font-size:24px;}
.btn-favorite:hover{border-radius:5px;background-color:#fff;color:#ed1c24;}
.bTitle{color:#444;font-family:'RobotoCondensed-Bold';text-transform:uppercase;display:inline-block;margin:0 5px 5px 0;font-size:18px;}
.bTitle span{display:block;font-style:italic;line-height:16px;font-size:12px;text-transform:none;color:#888;font-family:'Roboto-Regular';}
.inline-block.mTitle{margin-bottom:10px;}
.inline-block{display:inline-block;}
.oneline{overflow:hidden;white-space:nowrap;}
.oneline .item{display:inline-block;}
.pmain{background-color:#232222;padding-bottom:30px;}
.section{margin:30px 0;}
.section-slider{margin-bottom:10px;}
.promo-slider{float:right;position:relative;}
.promo-slider .promo-left{float:left;width:660px;}
.promo-slider .promo-banners{float:right;margin-left:10px;width:240px;}
.promo-slider .carousel-indicators{z-index:5;bottom:10px;margin-bottom:0;right:0px;left:100%;width:auto;}
.promo-banners .row{margin:0 -5px;}
.promo-banners .col-xs-6{padding:0 5px;}
.promo-banners .item{margin-bottom:6px;}
.promo-banners .item img{width:100%;}
.promo-slider .promo-banners-bottom{margin:10px 0px 0px 0px;width:660px;border:1px solid #ddd;min-height:108px;background-color:#fff;}
.section-hot{margin-top:30px;}
.nav-tabs>li>a{font-family:'RobotoCondensed-Regular';}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{color:#ed1c24;cursor:default;background-color:#fff;border:1px solid #ed1c24;border-bottom-color:transparent;}
.nav>li>a:focus,
.nav>li>a:hover{text-decoration:none;background-color:#fff;border:1px solid #ddd;border-bottom-color:transparent;}
.tab-content{margin:20px 0;}
.tab-menu{border-top-color:#d66784;border-top:2px solid #000000;background-color:#fff;}
.tab-menu h2.name{margin:0px;border-radius:0px;color:#ffcd00;text-transform:uppercase;font-size:18px;padding:10px 25px 9px 35px;font-family:'RobotoCondensed-Bold';background:url(../images/icon-fire-w.png) 10px center no-repeat #1b1919;float:left;min-width:170px;}
.tab-menu .tab-menu-content{overflow:hidden;}
.tab-menu .tab-menu-content ul{padding:0px;margin:0px;list-style:none;}
.tab-menu .tab-menu-content li a{padding:9px 15px;border:0px;text-transform:uppercase;position:relative;display:inline-block;font-family:'RobotoCondensed-Regular';}
.tab-menu .tab-menu-content li:hover a:after ,
.tab-menu .tab-menu-content li.active a:after{color:#ca181f;position:absolute;top:0px;line-height:5px;left:50%;margin-left:-5px;content:"\f0d7";font-family:"FontAwesome";}
.tab-menu .viewall:hover{color:#ca181f;}
.tab-menu .viewall{color:#555;border-radius:0px;text-transform:uppercase;padding:8px 25px;font-family:'RobotoCondensed-Regular';font-size:14px;}
.tab-menu-width li{float:left;}
.pagination-wrap{text-align:right;padding:30px 0;}
.pagination-wrap ul{list-style:none;display:inline-block;padding:0;}
.pagination-wrap ul>li{float:left;margin-left:7px;}
.pagination-wrap ul>li.is-active a{background:#ed1c24;border:1px solid #ed1c24;color:#fff;}
.pagination-wrap ul>li a:hover{background:#ed1c24;color:#fff;}
.pagination-wrap ul>li a{display:block;line-height:28px;padding:0 10px;border:1px solid #ddd;border-radius:3px;color:#333;}
.pagination{/* width:100%;text-align:right; */padding:30px 0;}
.pagination .page{display:inline-block;line-height:28px;padding:0 10px;margin:0 2px;border:1px solid #ddd;border-radius:3px;color:#fff8f8;}
.pagination .page:hover,
.pagination .page.active{background:#ed1c24;border:1px solid #ed1c24;color:#fff;}
.owl-dots{position:absolute;bottom:10px;right:10px;z-index:15;text-align:center;list-style:none;}
.owl-dots .owl-dot span{display:inline-block;width:10px;height:10px;margin:1px 3px;cursor:pointer;background-color:rgba(0,0,0,0);border:1px solid #fff;border-radius:10px;}
.owl-dots .owl-dot.active span{background-color:#fff;}
.owl-dots .owl-dot{display:inline-block;zoom:1;}
.lists .item img{max-width:100%;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;transition:all 0.5s;}
.lists .item:hover img{-moz-transform:scale(1.1);-webkit-transform:scale(1.1);transform:scale(1.1);}
.cover a{margin:0;overflow:hidden;display:block;position:relative;background-size:contain;}
.cover a:hover+span{bottom:-36px;opacity:1;}
.cover a::before{position:absolute;top:0;left:-75%;z-index:2;display:block;content:'';width:50%;height:100%;background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.5) 100%);background:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.5) 100%);-webkit-transform:skewX(-25deg);transform:skewX(-25deg);}
.cover a:hover::before{-webkit-animation:shine 1.5s;animation:shine 1.5s;}
@-webkit-keyframes shine{100%{left:125%;}
}
@keyframes shine{100%{left:125%;}
}
.colum-one{background:#f4f4f4;padding:20px 0 10%;}
.content-full{margin:30px 0 10%;}
.form-registration .form_inner{max-width:450px;margin:0 auto;}
.form-registration .form-group> label{color:#6f6f6f;font-weight:400;font-size:13px;}
.text-color-red{color:#ee272f !important;}
.form-registration .form-group .input-group .input-group-addon{border-radius:0px;background-color:#fff;font-size:14px;color:#bbbbbb;border-bottom-right-radius:0;border-top-right-radius:0;}
.form-registration .form-group .form-control{border-radius:0px;font-size:13px;height:40px;padding:10px 16px;border-bottom-left-radius:0;border-top-left-radius:0;box-shadow:none;}
.form-registration .form-group .radio-list> label{margin-right:30px;font-weight:400;}
.has-error .form-control,
.has-error .input-group-addon,
.has-error .form-control:focus{border-color:#eb7775;}
.widget-profile .profile_name{font-family:'OpenSans-Semibold';font-size:16px;padding-top:16px;color:#333;}
.widget-profile .profile{padding:25px 20px;border-bottom:1px solid #eeeeee;}
.widget-profile .profile_avatar{float:left;margin-right:15px;border:1px solid #cccccc;background-color:#eeeeee;border-radius:100%;}
.widget-profile .profile_avatar img{width:60px;height:60px;max-width:60px;max-height:60px;border-radius:100%;}
.img-circle{display:inline-block;border:1px solid #ffffff;text-align:center;vertical-align:middle;border-radius:100%;}
.side-menu{padding:0;margin:0;list-style-type:none;}
.side-menu li.active a,.side-menu li.active a:after,
.side-menu li> a:hover,
.side-menu li> a:hover:after{color:#ed1c24;}
.side-menu li> a{padding:15px 20px;font-size:15px;position:relative;display:block;border-bottom:1px solid #e7e7e7;color:#222222;}
.side-menu li> a:after{right:20px;font-family:'FontAwesome';content:"\f0da";position:absolute;top:15px;font-size:16px;color:#d3d3d3;}
#user_login li ul.dropdown-menu li{float:none;}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover{color:#262626;text-decoration:none;background-color:#e0e0e0;}
.login-popup .btn-success.disabled{opacity:1}
.login-popup{right:0px;left:auto;width:350px;border-radius:0;}
.login-popup .modal-body{padding:15px 20px;}
.login-popup .form-registration .form-group .form-control{border-radius:0px;font-size:13px;height:40px;padding:5px 10px;z-index:0;}
.login-popup .login-register-helper{font-size:13px;color:#666;margin-bottom:5px;}
.login-popup a{color:#3679ad;}
.table-list-order thead{background:#e2e2e2;}
.table-list-order.no-back thead{background:none;}
.table-list-order thead tr:nth-child(1) th{padding:15px;}
.table-list-order thead tr:nth-child(2){background:#f5f5f5;}
.table-list-order thead tr th{color:#555;font-size:13px;font-weight:700;padding:10px 15px;border-bottom:1px solid #e2e2e2;}
.table-list-order tr td{border:1px solid #e4e4e4;color:#777777;font-size:13px;font-weight:400;text-align:right;padding:110px 15px;}
.table-list-order b{color:#333;}
.table-list-order .space td{border:0;height:30px;}
.table-list-order tr td.title{border-top:0;border-bottom:0;padding-left:20px;text-align:left;}
.table-list-order tr td.title2{border-top:0;}
.table-list-order.no-back thead th{border:1px solid #e4e4e4;}
.table-list-order.no-back thead:first-child>tr:first-child>th{border:1px solid #e4e4e4;}
.table-list-order tr td.tbl-name{font-family:'RobotoCondensed-Regular';color:#444;font-size:15px;}
.alink{color:#01a5d8;text-decoration:underline;}
.mar_top_20{margin-top:20px;}
.rowTitle{background:#f5f5f5;padding:20px;font-size:18px;}
.flow-steps-order{}
.flow-steps-order li{display:inline-block;}
.dropdown-cart .minicart_wrapper{max-height:320px;overflow:auto;}
.header-cart > a{color:#333;padding:11px;border-radius:3px;text-decoration:none;display:inline-block;}
.header-cart.open> a{background:#eee;}
.sticky-header .header-cart.open > a{background:#ca181f;}
.dropdown-cart{left:auto;right:0;padding:0;margin:0;width:415px;border:0;}
.dropdown-cart .minicart_wrapper{max-height:320px;overflow:auto;}
.dropdown-cart .minicart_item{position:relative;display:block;padding:15px 30px 15px 15px;margin:0;background:#FFF;border-top:1px solid #eee;}
.dropdown-cart .minicart_item:hover{background-color:#f4f4f4;}
.dropdown-cart .minicart_item img{float:left;margin-right:10px;max-width:60px;max-height:60px;}
.dropdown-cart .minicart_item_name{display:block;overflow:hidden;font-size:14px;color:#333;}
.dropdown-cart .minicart_item_name a{-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;display:-webkit-box;overflow:hidden; min-height: 35px;}
.dropdown-cart .price_qty{text-transform:uppercase;font-size:14px;color:#222;padding-left:5px;}
.dropdown-cart .minicart_item_price{display:block;color:#ed1c24;}
.dropdown-cart .minicart_summary{border-top:1px solid #dfdfdf;padding:9px 10px 12px;text-align:right;text-transform:uppercase;color:#222;}
.dropdown-cart .minicart_summary .price{color:#ed1c24;font-size:15px;}
.dropdown-cart .minicart_actions{border-top:1px solid #dfdfdf;padding:15px;background-color:#f4f4f4;}
.dropdown-cart .minicart_actions> a.btn-view-cart{float:left;padding:10px 0px;display:inline-block;color:#222222;text-transform:uppercase;}
.dropdown-cart .minicart_actions> a.btn-buy-now{float:right;min-width:170px;font-size:16px;line-height:20px;padding:10px;color:#fff;text-transform:uppercase;}
.dropdown-cart .minicart_item .fa{font-size:16px;}
.dropdown-cart .minicart_item:hover .btn-close{display:block;}
.dropdown-cart .minicart_item .btn-close:hover{color:#ed1c24;}
.dropdown-cart .minicart_item .btn-close{position:absolute;width:22px;display:none;top:45%;right:15px;color:#555;}
.page-cart{padding:20px 0 10%;position:relative;}
.content-cart .content-cart-left{float:left;width:70%;}
.content-cart .content-cart-sidebar{float:left;width:25%;margin-left:25px;}
.box{-webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.3);box-shadow:0 0 2px rgba(0, 0, 0, 0.3);background-color:#ffffff;}
.box_footer{padding:15px 40px;background-color:#eeeeee;}
.box_header{border-bottom:1px solid #d2d2d2;padding:20px 20px 18px;}
.box_body{position:relative;padding:30px 40px 15px;}
.box_body_form{padding:20px 30px;}
.box-no-padding> .box_body{padding:0;}
.content-cart .code{color:#999;}
.box_title{margin:0;color:#333;font-size:16px;font-family:'OpenSans-Semibold';text-transform:uppercase;}
.btn-back{margin:7px 0 0 0;}
.box-center{max-width:640px;margin:0 auto;background-color:#ffffff;}
.table--listing thead> tr> th{border-top:0;border-bottom:1px solid #d2d2d2;color:#777777;font-size:13px;font-weight:400;}
.table--listing tr th,
.table--listing tbody tr th,
.table--listing thead tr th,
.table--listing tfoot tr th,
.table--listing thead tr td,
.table--listing tbody tr td,
.table--listing tr td{padding:15px 20px;}
.table--checkout td.image img{float:left;max-width:60px;}
.table--checkout> tbody> tr> td.image{width:1%;padding-right:0;}
.table--checkout> tbody> tr> td.action i{color:#222;font-size:16px;}
.table--orders a.blink{color:#01a5d8;text-decoration:none;}
.table--orders a{color:#464646;}
.table--orders a:hover{text-decoration:underline;}
.table--orders tr td{color:#464646;}
.order-summary{list-style-type:none;padding:0;margin-bottom:0;margin-top:-4px;}
.order-summary li,
.order-summary .sum_item,
.order-summary .order_item{list-style-type:none;display:inline-block;width:100%;margin-bottom:5px;}
.order-summary .order_item:last-child{margin-bottom:0;}
.order-summary .k{float:left;color:#999999;font-size:13px;}
.order-summary .v{float:right;}
.order-summary .sep{margin:10px 0;padding:0;height:1px;background-color:#d2d2d2;}
.order-summary .total .k{color:#000;font-size:15px;margin-top:7px;}
.order-summary .total .v{color:#ed1c24;font-size:20px;font-weight:500;}
.btn-none{border:0;background:none;}
.modal-content,
.input-group-addon{border-radius:0px;}
.box-radio-cop label{font-weight:normal;font-size:13px;position:relative;padding-left:5px;}
.progress-steps{width:90%;margin:20px auto 30px;list-style:none;padding:0;display:table;table-layout:fixed;color:#898989;}
.progress-steps> li.is-active{color:#71be0f;}
.progress-steps> li{position:relative;display:table-cell;text-align:center;font-size:14px;}
.progress-steps> li> a{color:#aaaaaa;}
.progress-steps> li.is-active:before{color:#FFF;background:#71be0f;}
.progress-steps> li.is-active> a{color:#71be0f;}
.progress-steps> li:before{color:#fff;content:attr(data-step);display:block;margin:0 auto 15px;background:#dddddd;width:22px;height:22px;text-align:center;line-height:22px;border-radius:100%;position:relative;z-index:1;}
.progress-steps> li:after{content:'';position:absolute;display:block;background:#dddddd;width:100%;height:7px;top:8px;left:50%;}
.progress-steps> li:last-child:after{display:none;}
.progress-steps> li.is-complete:before,
.progress-steps> li.is-complete:after{color:#FFF;background:#71be0f;}
.progress-steps> li.is-complete,
.progress-steps> li.is-complete a{color:#71be0f;}
.colum-one .box{margin-bottom:20px;}
.thanhtoan_list p{margin-bottom:2px;}
.thanhtoan_list h3{font-family:'RobotoCondensed-Bold';text-transform:uppercase;margin:0 5px 5px 0;font-size:16px;}
.order-items .order-item{margin:0 0 15px;display:table;width:100%;}
.order-items .order-item .name{width:70%;padding-right:15px;}
.order-items .order-item> div{display:table-cell;}
.order-items .order-item .price{text-align:right;}
.order-items .order-item a{color:#337ab7;text-decoration:none;}
hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eeeeee;}
.payment-method{padding:8px 0;}
.payment-method label{font-weight:400;padding:0;}
.payment-method label input{margin-top:6px;}
.payment-method label img{margin:0 5px 0 10px;}
.note{font-size:11px;color:#999999;}
#ship_cod{display:none;}
.boxTitle i{color:#02bc06;}
.finish-box{margin-top:25px;}
.finish-box li:before{font-family:'FontAwesome';content:'\f0c8';color:#009303;padding-right:15px;}
.finish-box li{margin-bottom:10px;color:#444;}
.hideform,
.form-error{display:none;}
.password-helper a,
.form-helper a{color:#337ab7;}
.form-error{font-size:12px;padding:10px;}
.loading{display:none;background:#fff;color:#666;padding:10px 0 15px;text-align:center;}
.box_order_step .progress-steps> li{font-size:13px;}
.box_order_step .progress-steps> li.is-active:before{font-family:'FontAwesome';content:'\f00c';}
.box_body_detail{padding:0 25px;}
.table-none> tbody> tr> th{padding:8px 0;border:0;width:250px;min-width:180px;color:#777777;font-size:14px;font-weight:400;}
.table-none> tbody> tr> td{border:0;color:#333333}
.table-none> thead> tr> th{background-color:#eeeeee;padding:15px;border-top:0;border-bottom:1px solid #d2d2d2;color:#777777;font-size:13px;font-weight:400;}
.box_order_heading{border-bottom:1px solid #d2d2d2;margin:0 0 10px;padding:10px 0;color:#000000;font-size:15px;font-weight:500;line-height:20px;}
.box_body_order{padding-bottom:50px;}
.box_body_favorite{padding:20px;}
.box_body_review .tab> li:hover> a,
.box_body_review .tab> li.active> a{border-bottom:2px solid #d2d2d2;color:#000;font-weight:500;background:none;border-radius:0;transition:none;}
.box_body_review .nav>li>a:focus,
.box_body_review .nav>li>a:hover{text-decoration:none;background-color:#fff;border:0;border-bottom:2px solid #d2d2d2;}
.box_body_review ul{list-style:none;padding:20px 0;margin:0;}
.box_body_review select{width:100%;}
.incategory-sub{background:#ffffff;padding:30px 0;}
.info-page{border-bottom:1px solid #d2d2d2;padding-bottom:5px;margin-bottom:15px;}
.info-page .pTitle{color:#444;font-family:'RobotoCondensed-Bold';text-transform:uppercase;display:inline-block;margin:0 5px 5px 0;font-size:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:240px;}
.info-page .pTitle span{display:block;font-style:italic;line-height:16px;font-size:12px;text-transform:none;color:#888;font-family:'Roboto-Regular';}
.breadcrumb{margin:15px 0;padding:0;background:none;}
.breadcrumb>li{font-size:12px;color:#777777;font-style:italic;}
.in-list{padding:60px 0;}
.list-product.row,
.list-product .row{margin-left:-10px;margin-right:-10px;}
.list-product .col-sm-3,
.list-product .col-sm-4,
.list-product .col-xs-5ths{padding:0 10px;}
.list-product .item{position:relative;margin-bottom:20px;border:1px solid #f1efef;background:#fff;}
.list-product .out-of-stock{position:absolute;top:15px;right:15px;background:rgba(255, 0, 0, 0.79);padding:2px 10px;border-radius:3px;color:#fff;font-family:'RobotoCondensed-Regular';}
.list-product .item img{width:100%;}
.list-product h3{font-family:'RobotoCondensed-Regular';font-size:16px;color:#555;line-height:1.4;margin:0 15px;padding:10px 0;min-height:66px;border-bottom:1px solid #dddddd;}
.list-product h3 a{-webkit-box-orient:vertical;text-overflow:ellipsis;display:-webkit-box;overflow:hidden;-webkit-line-clamp:2;}
.pd-price{color:#ffb605;font-size:20px;white-space:nowrap;position:relative;font-weight:700;}
.pd-price.pd-price-old{color:#999;text-decoration:line-through;font-size:16px;display:block;font-weight:normal;}
.pd-price .price_discount{position:absolute;right:0px;top:10px;color:#fff;font-size:14px;font-family:'Roboto-Regular';display:block;height:24px;width:50px;line-height:24px;padding-right:5px;background:url(../images/discount.svg) center center no-repeat;background-size:contain;}
.pd-views{position:absolute;bottom:0px;right:0px;color:#999;font-size:14px;font-family:'RobotoCondensed-Regular';}
.list-product .price{min-height:85px;padding:7px 15px 15px;position:relative;}
.list-product .pd-price .price_discount{position:static;display:inline-block;}
.list-product .pd-views{bottom:15px;right:15px;}
.view-all{text-align:center;margin:10px 0 40px;}
.view-all a{text-transform:uppercase;display:inline-block;color:#1f1f1f;font-size:15px;font-family:'RobotoCondensed-Regular';background:#f9f8f8;padding:10px 30px;-webkit-box-shadow:-3px 2px 2px 0px rgba(0,0,0,0.31);-moz-box-shadow:-3px 2px 2px 0px rgba(0,0,0,0.31);box-shadow:-3px 2px 2px 0px rgba(0,0,0,0.31);}
.view-all a:hover{background:#f9b61e;color:#4c5461;}
.view-all a.yellow{background:#f9b61e;color:#111;}
.view-all a.yellow:hover{background:#fff;color:#1f1f1f;}
.in-product.product{position:relative;margin-bottom:20px;background-color:#ffffff;}
.in-product.product--details{background-color:#ffffff;border:1px solid #dedede;padding:15px;}
.in-product-img{border:10px solid #e4e4e4;padding:7px;}
.in-product-img img{width:100%;}
.in-product-info h1{font-family:'Roboto-Regular';color:#3b3b3c;font-size:28px;line-height:1.3;padding:10px 0 0;margin:0 0 10px;}
.in-product-info .product-code span{font-family:'Roboto-Bold';font-size:18px;color:#333;}
.in-product-summary{margin-top:20px;font-family:'Roboto-Regular';color:#525252;font-size:16px;line-height:1.6;}
.in-product-info .radio,
.in-product-info .checkbox{position:relative;display:block;margin-top:10px;margin-bottom:10px;}
.in-product-info .checkbox span{color:#73c437;font-weight:400;font-family:'Roboto-Medium';}
.in-product-info .checkbox .fa{padding-right:10px;}
.info-of{margin-top:10px;padding-top:10px;border-top:1px solid #eaeaea;}
.product_price_info{font-size:18px;color:#333;line-height:30px;}
.product_price_old .price_value{text-decoration:line-through;}
.price_symbol{vertical-align:super;font-size:80%;margin-left:-5px;}
.product_price{color:#ed1c24;font-size:36px;font-weight:700;white-space:nowrap;}
.price_discount{display:inline-block;width:55px;height:24px;padding:0 2px 0 12px;line-height:25px;background:url(../images/discount.svg) no-repeat;background-size:contain;color:#fff;font-size:16px;font-weight:400;vertical-align:text-top;margin-left:10px;vertical-align:4px;}
.box-quantity{width:160px;float:left;}
.quantity__text{display:inline-block;margin-right:15px;color:#898989;vertical-align:middle;}
.updatecart_quantity,
.quantity-modifier-select,
.update_prod_quantity{padding:4px 10px;border:1px solid #999;display:inline-block;}
.product-details .add-to-cart-buttons{margin-top:20px;}
.btn-success{color:#ffffff;background-color:#23b445;border-color:#05ad2d;padding:9px 17px;border-radius:5px;}
.btn-buy-now{text-align:center;width:220px;padding:5px;font-size:25px;border-bottom:4px solid #487513;color:#fff;font-family:'Roboto-Medium';text-shadow:0 1px 1px rgba(99, 165, 15, 0.75);}
.btn-buy-now-mini{text-align:center;width:185px;padding:5px;font-size:25px;border-bottom:4px solid #487513;color:#fff;font-family:'Roboto-Medium';background-color:#71be0f;border-radius:5px;}
.btn-end{border-radius:0;background:#e4e4e4;width:240px;padding:5px;font-size:25px;border-bottom:4px solid #a3a3a3;color:#5e5e5e;font-family:'Roboto-Medium';margin-bottom:10px;}
.on-btnfix{position:fixed;bottom:0px;left:0px;z-index:100;}
.btn-srcoll-mb.on-btnfix{width:100%;padding:10px;display:block;background:#fff;}
.btn-srcoll-mb.on-btnfix .btn-buy-now{margin-bottom:0;width:100%;padding:10px 16px;font-size:18px;}
.btn-success:hover{color:#fff;background-color:#449d44;border-color:#449d44;}
.product-details .btn-add-to-cart:hover{background-color:#71be0f;color:#FFF;}
.product-details .btn-add-to-cart{border-color:#23b445;background-color:#fff;color:#23b445;padding:8px 15px 7px 15px;font-size:16px;}
.instock-where{padding:15px 0;}
.instock-where .instock-col{display:inline-block;color:#333;font-size:15px;padding-right:10px;margin-right:10px;border-right:1px solid #eaeaea;}
.instock-where .instock-col:last-child{border:0;}
.color-green{color:#23b445;}
.product__purchases,
.product__availability{display:inline-block;color:#333;font-size:16px;}
.product__purchases{padding-right:8px;margin-right:8px;border-right:1px solid #eaeaea;}
.product-details .product__stats i{border-radius:100%;border:1px solid #999;line-height:26px;width:30px;height:30px;font-size:16px;margin-right:5px;text-align:center;}
.product__delivery .fa{color:#71be0f;}
.product__delivery{min-height:35px;position:relative;color:#5a8c19;}
.product-details{background-color:#ffffff;border:1px solid #dedede;padding:15px;position:relative;margin-bottom:20px;}
.in-highlights{min-height:20px;padding:20px 20px 35px;border:1px solid #e3e3e3;background-color:#fff;position:relative;margin-bottom:40px;}
.in-highlights .btn-more-height{position:absolute;top:100%;left:50%;width:120px;margin-left:-60px;margin-top:-15px;text-align:center;}
.in-highlights.expanded .less-text{display:block;}
.in-highlights .less-text,
.in-highlights.expanded .more-text{display:none}
.in-highlights .in-highlights-height{background:rgba(255, 255, 255, 0.5);margin-top:-1px;overflow:hidden;height:200px;position:relative;transition:all 0.5s ease-in-out;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;}
.in-more .nav-tabs{border:0px;}
.in-more .nav-tabs li.active a,
.in-more .nav-tabs li a:hover{border:1px solid #e7e7e7;border-top:2px solid #71be0e;border-bottom-color:#ffffff;background-color:#ffffff;color:#222222;}
.in-more .nav-tabs li a{border-radius:0px;margin-right:10px;border-color:#e7e7e7;background-color:#e5e5e5;color:#717171;font-size:14px;font-weight:500;text-align:center;text-transform:uppercase;}
.in-more .tab-content{padding:20px 20px 35px;background-color:#fff;position:relative;margin-bottom:40px;margin-top:0px;}
.in-more .mTitle{border-bottom:1px dotted #dedede;padding-bottom:10px;font-size:18px;margin-bottom:20px;}
.alinks{color:#337ab7;text-decoration:none;}
.panel-group .panel{margin-bottom:0;border-radius:0px;}
.panel-default .panel-title{font-size:15px;}
.box-info{margin-top:15px;border:1px solid #ccc;-webkit-box-shadow:0 0 5px rgba(100, 100, 100, 0.1);-moz-box-shadow:0 0 5px rgba(100, 100, 100, 0.1);box-shadow:0 0 5px rgba(100, 100, 100, 0.1);padding:15px 15px;}
.product_cell{text-align:center;}
.product-short-info .product_price{margin:0;font-size:24px;font-weight:400;line-height:1.1;}
.product-short-info{display:flex;}
.product-short-info .product_price_old{color:#aaaaaa;}
.product-short-info .product_cell{width:20%;}
.product-short-info .product_cell5{width:60%;}
.product-short-info .product_cell{border-right:1px solid #c8c8c8;}
.product-short-info .product_cell:last-child{width:40%;border-right:0px;}
.product-short-info .price_symbol{font-size:60%;}
.product-short-info .add-to-cart__actions .btn-buy-now{width:175px;}
.product-short-info .add-to-cart__actions .btn{margin-left:10px;font-size:22px;line-height:1.25;}
.comments_facebook,
.in-comments{margin-top:25px;}
.dichvu{margin-top:25px;}
.dichvu a:hover{background:#ddd;}
.dichvu-title{background:#fff;border-bottom:1px solid #eeeeee;padding:15px 30px;margin:0px 0 5px;font-family:'RobotoCondensed-Bold';text-transform:uppercase;color:#444;font-size:15px;position:relative;cursor:pointer;}
.tags{margin-top:25px;}
.tags a:hover{background:#ddd;}
.tags a{display:inline-block;border-radius:20px;border:1px solid #ddd;padding:3px 10px;margin:0px 5px 10px 0;font-family:'RobotoCondensed-Regular';color:#7b7b7b;cursor:pointer;font-size:14px;}
.product-involve .item{padding:15px;position:relative;margin-bottom:10px;background-color:#ffffff;}
.product-involve .cover{text-align:center;}
.product-involve .cover img{width:100%;}
.product-involve h3{font-family:'RobotoCondensed-Regular';font-size:16px;color:#555;line-height:1.4;margin:0;padding:10px 0;min-height:65px;border-bottom:1px solid #dddddd;}
.product-involve .price{padding:7px 0px 0px;position:relative;}
.product_thumbnails{padding:15px 20px;}
.in-product_thumbnails{position:relative;}
.in-product_thumbnails .disabled{opacity:0.5;}
.in-product_thumbnails .prev,
.in-product_thumbnails .next{position:absolute;top:50%;margin-top:-10px;background:#fff;cursor:pointer;z-index:2;}
.in-product_thumbnails .prev{left:5px;}
.in-product_thumbnails .next{right:5px;}
.owl-carousel .owl-item.showactive{border:2px solid #71be0f;}
.block__sorting{float:right;margin-top:5px;}
.product-sortings ul{list-style:none;padding:0;margin:0;}
.product-sortings li,
.product-sortings .sorting{display:inline-block;padding:0 8px;margin:0 0px 5px 3px;height:26px;line-height:26px;color:#4d4d4d;font-size:13px;font-weight:400;white-space:nowrap;cursor:pointer;border-radius:5px;text-decoration:none;border:1px solid #ccc;}
.product-sortings li.active,
.product-sortings .sorting-active,
.product-sortings .sorting.active,
.product-sortings .sorting:hover{background-color:#71be0f;color:#fff;text-decoration:none;box-shadow:none;}
.product-sortings .sorting:after,
.product-sortings li:after{content:"\f175";font-family:'FontAwesome';margin-left:5px;}
.product-sortings .sorting.asc:after,
.product-sortings li.asc:after{content:"\f176";}
.product-sortings .filter_title{padding:4px;color:#555;border:0;float:left;margin-right:10px;font-family:'RobotoCondensed-Regular';}
.category-header-filter-button{position:absolute;right:30px;top:20px;}
.in-more-content img{max-width:100% !important;height:auto !important;}
.background_image_detail{text-align:center;}
.info-field ul{margin:10px 0 0;}
.info-field li{border:1px solid #dadada;position:relative;font-size:11px;line-height:22px;padding-left:10px;padding-right:10px;margin-bottom:10px;margin-right:10px;color:#333;text-transform:capitalize;white-space:nowrap;}
.promo-banners-cat{margin-bottom:20px;}
.promo-banners-cat .owl-prev,
.promo-banners-cat .owl-next{position:absolute;top:50%;width:36px;height:66px;line-height:66px;margin-top:-40px;background-color:#000;background-color:rgba(0, 0, 0, 0.2);z-index:100;font-size:40px;color:#fff;text-align:center;cursor:pointer;}
.promo-banners-cat .owl-prev{left:0;}
.promo-banners-cat .owl-next{right:0;}
.promo-banners-cat .owl-dots{position:absolute;right:10px;bottom:0px;}
.promo-banners-cat .owl-dot{display:inline-block;zoom:1;}
.promo-banners-cat .owl-dot.active span,
.promo-banners-cat .owl-dot:hover span{background:#70be10;}
.promo-banners-cat .owl-dot span{width:10px;height:10px;margin:5px;background:#ddd;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px;}
.rates-box{margin:20px 0 0;}
.rate-base-layer,
.rate-hover-layer,
.rate-select-layer{color:#f9bc0a;}
.rates-box h4{font-family:'RobotoCondensed-Regular';font-size:16px;color:#444;margin:0;text-align:center;}
.rating-col-info{border-right:1px solid #f7f7f7;}
.rating-col-info .rating-info-total{margin:5px 0 0;text-align:center;font-size:47px;color:#fe302e;font-weight:500;}
.rating-col-info .rating-info-count{font-size:14px;color:#8f8f8f;}
.rating-col-customer{border-right:1px solid #f7f7f7;}
.rating-col-customer .item{font-size:0;margin-bottom:11px;}
.rating-col-customer .rating-num{display:inline-block;font-size:15px;font-weight:400;width:40px;line-height:15px;vertical-align:middle;position:relative;}
.rating-col-customer .rating-num:after{content:"\f005";font-family:'FontAwesome';position:absolute;color:#484848;margin-left:5px;}
.rating-col-customer .progress{display:inline-block;box-shadow:none;background:#efefef;width:70%;margin-bottom:0;height:8px;vertical-align:middle;}
.rating-col-customer .rating-num-total{display:inline-block;font-size:14px;font-weight:300;text-align:left;margin-left:12px;color:#787878;line-height:15px;vertical-align:middle;}
.rating-col-submit{padding-top:20px;}
.rates-box button{font-size:14px;border-radius:3px;min-width:100px;font-family:'RobotoCondensed-Regular';}
#rate-product{font-size:25px;display:inline-block;margin-bottom:15px;}
.rates-container{padding:10px 0;}
.progress-bar-success{background-color:#23b445;}
.rate-from{display:none;background:#f4f4f4;padding:20px;}
.rate-from label{display:inline-block;font-family:'Roboto-Regular';font-size:15px;color:#333;font-weight:400;}
.rate-from .form-control{height:36px;padding:7px 8px;border:1px solid #dfdfdf;font-weight:300;box-shadow:none;}
.rate-from #rate_detail{height:117px;}
.mar_b10{margin-bottom:10px;}
.mar_b5{margin-bottom:10px;}
.sidebar{margin-bottom:15px;}
.sidebar-navleft .sidebar-box{border-bottom:1px solid #ccc;}
.sidebar-title{background:#fff;border-bottom:1px solid #eeeeee;padding:15px 30px;margin:0px 0 5px;font-family:'RobotoCondensed-Bold';text-transform:uppercase;color:#444;font-size:15px;position:relative;cursor:pointer;}
.sidebar-navleft .sidebar-title{padding:15px 20px 15px 55px;line-height:1.3;}
.sidebar-navleft .sidebar-title:before{font-family:"FontAwesome";font-size:17px;content:'\f0c9';color:#ed1c24;position:absolute;left:30px;top:14px;}
.sidebar-title.active-main:before{color:#fff;}
.sidebar-navleft .sidebar-title.active:before{border:1px solid #ed1c24;padding:4px 8px;border-radius:25px;left:15px;top:8px;}
.sidebar-navleft .active .sidebar-title:before{color:#fff;}
.sidebar-title .fa{color:#ed1c24;font-size:15px;margin-right:5px;}
.sidebar-box-content{padding:15px 20px;background:#fff;}
.sidebar ul{list-style-type:none;padding:0;margin:0;}
.sidebar-navleft{background:#fff;margin-bottom:20px;}
.sidebar-navleft .sidebar-box-content{padding:15px 30px;}
.sidebar-nav > li.active:before{font-family:"FontAwesome";content:'\f0da';position:absolute;left:-15px;top:0px;color:#666;}
.sidebar-nav > li.active{position:relative;color:#111;font-family:'RobotoCondensed-Bold';}
.sidebar-nav > li{margin-bottom:6px;line-height:1.6;font-family:'RobotoCondensed-Regular';font-size:15px;position:relative;color:#5f5f5f;}
.sidebar-nav li ul li:hover a{color:#ed1c24;}
.sidebar-nav li ul{margin:15px 0 15px 25px;}
.sidebar-nav li > ul > li{margin-bottom:10px;color:#636262;font-size:14px;position:relative;font-family:'RobotoCondensed-Regular';}
.sidebar-nav li .fa{position:absolute;right:0px;font-size:14px;color:#333;cursor:pointer;}
.sidebar-nav li > ul > li:before{font-family:"FontAwesome";font-size:6px;content:'\f111';position:absolute;left:-20px;top:6px;color:#808080;}
.sidebar-nav li > ul > li:last-child{border:0px;}
.sidebar-nav > li > a.navleft-sub{font-family:'RobotoCondensed-Bold';color:#343434;text-transform:uppercase;}
.sidebar-nav > li > a:hover{color:#ed1c24;}
.sidebar-address-list li{padding:0 0 10px 0;font-size:13px;}
.sidebar-address-list li > i{width:30px;float:left;font-size:20px;line-height:28px;}
.sidebar-address-list li p{margin-bottom:5px;}
.sidebar-address-list li .content{overflow:hidden;font-size:13px;line-height:22px;color:#555;}
.sidebar-box.active .sidebar-title,
.sidebar-title.active-main,
.sidebar-box.active .sidebar-title .fa{background:#ffcd00;color:#000000;}
.sidebar-trademark .filter_button{position:relative;display:block;padding:5px;line-height:20px;color:#444;font-weight:normal;font-size:14px;cursor:pointer;border-radius:0px;font-family:'RobotoCondensed-Regular';}
.sidebar-trademark .filter_button input{margin:0 5px 0 0px;}
.sidebar-trademark .filter_button span{color:#a1a1a1;}
.sidebar-trademark .filter_button span:before{content:"(";}
.sidebar-trademark .filter_button span:after{content:")";}
.sidebar-trademark .slider-horizontal{width:100%;}
.sidebar-color ul{margin:0px;padding:0px;list-style:none;}
.sidebar-color li a:hover{opacity:0.5;}
.sidebar-color li a{height:25px;width:25px;display:inline-block;border-radius:25px;margin-right:10px;margin-top:15px;float:left;background-color:#fff;border:1px solid #fff;}
.color-choice .white{border:1px solid #ccc;}
.color-choice .yellow{background-color:#fed533;}
.color-choice .orange{background-color:#f36b26;}
.color-choice .green{background-color:#7bba3c;}
.color-choice .blue{background-color:#1790c8;}
.color-choice .pink{background-color:#d82a90;}
.color-choice .olive{background-color:#7F7F00;}
.color-choice .red{background-color:#e7352b;}
.color-choice .purple{background-color:#8d429f;}
.color-choice .grey{background-color:#777878;}
.color-choice .brown{background-color:#825d41;}
.color-choice .black{background-color:#111;}
.color-choice .cream{background-color:#FBF4D9;border:1px solid #e1dbc3;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.color-choice .silver{background-color:#e5e5e5;border:1px solid #ccc;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.color-choice .khaki{background-color:#ebe1be;border:1px solid #d3caab;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.sidebarmb-title{display:none;border-bottom:2px solid #c5c5c5;font-family:'RobotoCondensed-Regular';position:relative;padding:15px;text-align:center;text-transform:uppercase;}
.mobileforfilter .sidebarmb-title{display:block;}
.sidebarmb-title .sidebarmb-close{position:absolute;top:10px;left:10px;font-size:12px;}
.mobileforfilter .sidebarmb{padding-bottom:110px;}
.mobileforfilter .sidebarmb-content{height:100%;overflow-y:auto;overflow-x:hidden;display:block !important;}
.mobileforfilter .nav-bottom{position:fixed;text-align:center;bottom:0;left:0;right:0;height:60px;padding:10px 15px 0;background:#efefef;box-shadow:0 -1px 3px rgba(0, 0, 0, 0.25);}
.mobileforfilter .nav-bottom .btn{margin:0 5%;width:40%;}
#liscategory .sidebar-title{margin-bottom:0;}
#liscategory .sidebar-box-content{display:none;}
#liscategory .sidebar-box{border:0;}
#liscategory .sidebar-title,
#liscategory .sidebar-box.active{border-bottom:1px solid #e0e0e0;}
#liscategory h3 a:focus{color:#fff;}
.sidebar-bottom-fix{position:fixed;bottom:0px;left:0px;background:#fff;box-shadow:0 -1px 20px 0 rgba(0, 0, 0, .12);width:100%;}
.sidebar-bottom-fix .btn-sort:first-child{border-right:1px solid #e6e5e5;}
.sidebar-bottom-fix .btn-sort i{margin-right:10px;}
.sidebar-bottom-fix .btn-sort{padding:12px;text-align:center;width:49%;border:0;background:white;color:#9e9e9e;letter-spacing:0.5px;font-size:14px;font-family:'OpenSans-Semibold';}
#modalSort.modal-header .close{margin-top:-29px;}
#modalSort .modal-title{font-family:'Roboto-Medium';font-size:20px;color:#242424;}
#modalSort .modal-header{padding-top:40px;border:0;}
#modalSort .modal-dialog{margin:30px;}
.filter-item{margin-bottom:15px;}
.filter-item label{display:inline-block;cursor:pointer;position:relative;padding-left:25px;margin-right:15px;font-size:14px;font-family:'Roboto-Regular';font-weight:normal;color:#212121;}
.filter-item input[type=radio]{display:none;}
.filter-item label:before{content:"";display:inline-block;width:16px;height:16px;margin-right:10px;position:absolute;left:0;bottom:1px;border:2px solid #757575;border-radius:8px;}
.filter-item input[type=radio]:checked + label:before{border:2px solid #09c5da;content:"\2022";color:#09c5da;font-size:30px;text-align:center;line-height:13px;}
.position-banners .item{text-align:center;margin-bottom:10px;}
.not-padding{padding:0 !important;}
.not-margin{margin:0 !important;}
.box-hide-pas{display:none;}
.forms-register .btn{padding:10px 15px;}
.box-social button{width:36px;height:36px;display:inline-block;text-align:center;line-height:36px;border-radius:3px;border:0;}
.ortext{margin-top:5px;}
#login-dialog .modal-body{padding:25px 25px 0px;}
#login-dialog .password-helper{margin-bottom:5px;}
.btn-facebook{background-color:#225B99;color:#FFFFFF;border-radius:0;}
.btn-facebook:hover{background-color:#3f8bde;color:#FFFFFF;}
.btn-google-plus{background-color:#D94D39;color:#FFFFFF;border-radius:0;}
.btn-google-plus:hover{background-color:#f96753;color:#FFFFFF;}
.forms-register .error{margin:0 0 20px;padding:0 15px;}
.forms-register .error li{color:#ff0000;}
.forms-group-login .btn{display:inline-block;width:49%;transition:all 0.5s ease;}
.forms-group-login .btn:hover{opacity:0.8;color:#fff;}
#fb-login{display:block;background-color:#3f51b5;border-radius:4px;color:#fff;line-height:25px;width:100px;text-align:center;cursor:pointer;font-size:13px;}
#fb-info{position:relative;line-height:1em;display:none;}
#fb-avt{width:50px;height:50px;border-radius:5px;overflow:hidden;float:left;margin-right:10px;z-index:1;background:#fff center no-repeat;background-size:cover;border:2px solid #fff;box-sizing:border-box;}
#fb-block.logged-in #fb-login{display:none;}
#fb-block.logged-in #fb-info{display:block;}
.modal-body{padding:25px;}
.modal-title{font-family:'Roboto-Light';font-size:28px;color:#242424;}
.modal-title.text-center{font-size:20px;}
.modal-dialog{margin-top:50px;}
.modal-footer{padding:15px 25px;}
.m-user{margin:15px 0 25px;padding:10px;}
.m-user .m-user-img{float:left;margin-right:15px;border:1px solid #cccccc;background-color:#eeeeee;border-radius:100%;}
.m-user-img img{border-radius:100%;width:60px;}
.m-user .m-user-info{font-family:'RobotoCondensed-Regular';font-size:14px;padding-top:10px;color:#333;position:relative;}
.m-user .m-user-info .fa-caret-down{position:absolute;bottom:0px;right:10px;}
.m-user-email{font-family:'Roboto-Regular';color:#555}
.m-user ul{width:100%;}
.m-user li:last-child{border:0px;}
.m-user li{background:none;border-bottom:1px solid #ececec;width:100%;text-align:left;font-family:'Roboto-Regular';padding:10px 0;}
.commentlist{list-style:none;padding:0;margin:0;}
.comment-author img{width:50px;}
.comment-author{float:left;margin-right:20px;}
.comment_author_name{color:#6f6f6f;}
.single_comment{display:inline-block;width:100%;margin-bottom:20px;color:#4e4e4e;}
.commentlist li:last-child{border-bottom:0;}
.commentlist li{padding-bottom:20px;margin-bottom:20px;border-bottom:1px solid #dedede;}
.commentlist li.sub_comment{margin-left:70px;width:calc(100% - 70px);width:-webkit-calc(100% - 70px);}
.commentlist li.end_sub_comment{padding-left:70px;margin-left:0px;width:100%;}
.comment_info{overflow:hidden;}
.comment-meta{color:#acacac;font-size:12px;}
.comment-meta a{margin-left:10px;}
.comment-reply-link{color:#337ab7;}
.comment-reply-link i{color:#acacac;}
.comment_content{margin-bottom:10px;}
#infouser{float:left;width:58px;height:58px;border:1px solid #b7b7b7;margin-right:12px;border-radius:3px;position:relative;overflow:hidden;}
#infouser img{width:100%;}
#commentform{font-family:'Roboto', Arial, sans-serif;line-height:1.25em;font-size:14px;box-sizing:border-box;float:left;width:calc(100% - 70px);width:-webkit-calc(100% - 70px);min-height:58px;display:block;}
#commentform textarea{border-radius:3px;border:1px solid #ddd;width:100%;padding:8px;margin-bottom:10px;}
.send_comment:hover{opacity:0.7;}
.send_comment{border:0;margin-left:5px;float:right;background-color:#23b445;border-radius:3px;color:#fff;padding:7px 20px;cursor:pointer;transition:all 0.3s ease;-webkit-transition:all 0.3s ease;}
#cancel_reply{background:none;padding:7px;color:#555;}
#respond{margin-top:15px;display:inline-block;width:100%;padding:20px;border-left:7px solid #ed1c24;box-shadow:0px 0px 3px #dadada;position:relative;}
.show_info_detail{margin-bottom:50px;}
.rating-box_summary{float:left;width:175px;padding:0 25px;margin:25px 0;text-align:center;}
.rating{unicode-bidi:bidi-override;direction:rtl;}
.rating > span{display:inline-block;position:relative;font-size:24px;color:#ffb400;}
.rating > span:hover:before,
.rating > span:hover ~ span:before{font-family:"FontAwesome";content:"\f005";position:absolute;}
.list-post .item{width:100%;display:inline-block;border-bottom:1px solid #e6e6e6;margin-bottom:10px;background:#fff;padding:15px 0;}
.list-post .cover{width:170px;float:left;}
.list-post .cover img{width:100%;}
.list-post .item-content{padding-left:180px;}
.list-post .item-content h2{font-family:'Roboto-Medium';margin:5px 0;font-size:18px;color:#222;}
.timestamp{font-style:italic;color:#888;font-size:12px;margin-bottom:10px;}
.summary{font-family:'Roboto-Regular';font-size:14px;color:#666;}
.right-banner .item{margin-bottom:20px;}
.right-banner img{width:100%;}
.in-detail-post{background:#fff;padding:30px;}
.empty-content{font-family:'Roboto-Regular';font-size:15px;color:#666;}
.in-backwhite{background:#fff;padding:20px;}
.sidebar_widget_news .widget_title{margin:0 0 10px;padding:0 0 5px;border-bottom:1px solid #b9b9b9;color:#222222;font-size:22px;line-height:1.5;font-family:'RobotoCondensed-Regular';}
.sidebar_widget_news .side-menu{margin-bottom:15px;}
.sidebar_widget_news .side-menu> li.active a,
.sidebar_widget_news .side-menu> li a:hover{color:#ed1c24;}
.sidebar_widget_news .side-menu> li> a{position:relative;display:block;border-bottom:1px solid #e7e7e7;color:#585858;padding:15px 15px 15px 0;}
.sidebar_widget_news .sidebar_widget_title{margin:0 20px;padding:15px 0px;border-bottom:2px solid #d2d2d2;background:#fff;font-family:'RobotoCondensed-Bold';text-transform:uppercase;color:#444;font-size:15px;position:relative;cursor:pointer;}
.sidebar_widget_news .side-menu li> a:after{right:0}
.sidebar_widget_news .side-menu{background:#fff;padding:5px 25px 0px 20px;}
.in-whitle{background:#fff;padding:20px;}
#back-top{position:fixed;bottom:18%;right:30px;}
#back-top a{width:50px;height:50px;background:rgba(0,0,0,0.5);display:block;-webkit-transition:1s;-moz-transition:1s;transition:1s;opacity:0.5;border-radius:50%;text-align:center;color:#FFFFFF;line-height:50px;}
.footer-info{padding:40px 0 20px;background:#000;font-family:'Roboto-Regular';font-size:13px;color:#fff;}
.footer-info .name-heading{font-family:'RobotoCondensed-Regular';text-transform:uppercase;font-size:17px;margin:0 0 10px;color:#fff;position:relative;}
.footer-info li{margin-bottom:5px;}
.footer-address .cn-shop{margin-bottom:10px;}
.footer-address p{font-size:14px;}
.footer-address .cn-shop p{margin-bottom:2px;}
.nav-other span{display:inline-block;margin-right:5px;margin-bottom:5px;}
.nav-other.payment img{width:57px;height:34px;}
.mar_bottom_0{margin-bottom:0px !important;}
.footer-copyright{padding:15px 0px;background:#2e2d2c;color:#ccc;}
.footer-copyright .cpy-right-info h5{margin:5px 0 5px;font-size:12px;font-family:'Roboto-Medium';}
.footer-copyright .cpy-right-info p{font-size:11px;margin:0px;}
.footer-copyright .cpy-right-info{display:inline-block;}
.footer-copyright .ico-bocongthuong{display:inline-block;float:right;margin-top:-4px;}
.success.is-underline:hover, .success.is-outline:hover, .success{background-color:#0080c8;padding:10px;color:white !important;}
.hotline1{background:#ED1C24;position:fixed;bottom:62px;height:40px;line-height:40px;padding:0 0px 0 0px;border-radius:40px;color:#fff;left:10px;z-index:99999;}
.hotline2{background:#ED1C24;position:fixed;bottom:104px;height:40px;line-height:40px;padding:0 0px 0 0px;border-radius:40px;color:#fff;left:10px;z-index:99999;}
.fb-support{position:fixed;bottom:60px;height:40px;line-height:40px;padding:0 0px 0 0px;border-radius:40px;color:#fff;right:20px;z-index:99999;}
.zalo-support{position:fixed;bottom:102px;height:40px;line-height:40px;padding:0 0px 0 0px;border-radius:40px;color:#fff;right:20px;z-index:99999;}
.hotline1 i{font-size:16px;line-height:40px;background:#B52026;border-radius:100%;width:40px;height:40px;text-align:center;float:right;}
.hotline1 a{color:#fff;font-size:16px;font-weight:bold;text-decoration:none;margin-right:10px;padding-left:10px;}
.hotline2 i{font-size:16px;line-height:40px;background:#B52026;border-radius:100%;width:40px;height:40px;text-align:center;float:right;}
.hotline2 a{color:#fff;font-size:16px;font-weight:bold;text-decoration:none;margin-right:10px;padding-left:10px;}
.support .zalo-support, .support .fb-support, .support .hotline1 a, .support .hotline2 a{font-size: 14px;}
@media (max-width: 968px) {
    .imgproduct{ height: 225px; min-height: auto;}
    .related-imgproduct{height: auto; min-height: auto;}
}
@media (max-width: 767px) {
    .content-full{margin: 50px 0 10%;}
    .support .zalo-support, .support .fb-support, .support .hotline1 a, .support .hotline2 a{font-size: 12px;}
    .imgproduct{ height: 190px; min-height: auto;}
    .related-imgproduct{height: 200px; min-height: auto;}
    .list-product .price{min-height: 65px;}
}
@media (max-width: 337px) {
    .imgproduct{ height: 150px; min-height: auto;}
    .related-imgproduct{height: 155px; min-height: auto;}
}